Repository antlr/antlr4, pull requests merged in 2018-10, with the labels that each got.

#2374 [Python] Add missing lexer super class imports.
  tool/resources/org/antlr/v4/tool/templates/codegen/Python2/Python2.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Python3/Python3.stg
Labels: target:python2, target:python3

#2373 [Python3] Fix the import of parser superclasses.
  tool/resources/org/antlr/v4/tool/templates/codegen/Python3/Python3.stg
Labels: target:python3

#2388 Improved ExternalAntlr4Cpp and added CMake option for static CRT (Fixes #1872)
  contributors.txt
  runtime/Cpp/CMakeLists.txt
  runtime/Cpp/cmake/ExternalAntlr4Cpp.cmake
  runtime/Cpp/cmake/FindANTLR.cmake
  runtime/Cpp/cmake/README.md
  runtime/Cpp/demo/CMakeLists.txt
  runtime/Cpp/runtime/CMakeLists.txt
Labels: target:cpp
