Repository antlr/antlr4, pull requests merged in 2018-07, with the labels that each got.

#2295 Update icu4j to resolve CVEs
  contributors.txt
  tool/pom.xml
Labels: unicode

#2311 Updated csharp-target doc
  contributors.txt
  doc/csharp-target.md
Labels: comp:doc, target:csharp

#2302 Fixes #2301
  runtime-testsuite/test/org/antlr/v4/test/runtime/descriptors/ParserExecDescriptors.java
  runtime/Python3/src/antlr4/atn/SemanticContext.py
Labels: target:python3

#2292 Enable ParserATNSimulator debug mode in Python3 target
  contributors.txt
  runtime/Python3/src/antlr4/atn/ParserATNSimulator.py
Labels: target:python3, type:bug

#2216 Make C# NuGet package name more visible in runtime docs
  contributors.txt
  runtime/CSharp/README.md
Labels: comp:doc, target:csharp

#2198 fix indentation in javascript target examples
  contributors.txt
  doc/javascript-target.md
Labels: comp:doc, target:javascript

#2196 JavaScript parse tree visitor: check if ctx.children is non-null in visitChildren
  runtime/JavaScript/src/antlr4/tree/Tree.js
Labels: target:javascript, type:bug

#2192 Use csharp as main test target
  .travis.yml
Labels: comp:build

#2190 fixes #2188
  tool/src/org/antlr/v4/codegen/target/Python2Target.java
  tool/src/org/antlr/v4/codegen/target/Python3Target.java
Labels: target:python2, target:python3

#2336 Add StdninStream for python3 runtime. Closes: #2271
  contributors.txt
  runtime/Python3/src/antlr4/StdinStream.py
Labels: target:python3
