Repository antlr/antlr4, pull requests merged in 2018-11, with the labels that each got.

#2394 Update to python 3.6
  .travis.yml
  runtime-testsuite/test/org/antlr/v4/test/runtime/python/BasePythonTest.java
  runtime-testsuite/test/org/antlr/v4/test/runtime/python3/BasePython3Test.java
Labels: comp:build, target:python3

#2339 Fixing the link to the Eclipse plugin on the Java documentation
  contributors.txt
  doc/java-target.md
Labels: comp:doc

#2154 [Swift] Remove HashMap and fix Parser caches.
  runtime/Swift/Sources/Antlr4/Parser.swift
  runtime/Swift/Sources/Antlr4/atn/ATNConfigSet.swift
  runtime/Swift/Sources/Antlr4/atn/ATNSimulator.swift
  runtime/Swift/Sources/Antlr4/atn/LexerATNSimulator.swift
  runtime/Swift/Sources/Antlr4/atn/LookupDictionary.swift
  runtime/Swift/Sources/Antlr4/atn/ParserATNSimulator.swift
  runtime/Swift/Sources/Antlr4/atn/PredictionContext.swift
  runtime/Swift/Sources/Antlr4/atn/PredictionContextCache.swift
  runtime/Swift/Sources/Antlr4/atn/PredictionMode.swift
  runtime/Swift/Sources/Antlr4/dfa/DFA.swift
  runtime/Swift/Sources/Antlr4/misc/DoubleKeyMap.swift
  runtime/Swift/Sources/Antlr4/misc/HashMap.swift
Labels: target:swift

#2156 [Swift] Minor tidyups in the stream code.
  runtime/Swift/Sources/Antlr4/ANTLRInputStream.swift
  runtime/Swift/Sources/Antlr4/BufferedTokenStream.swift
  runtime/Swift/Sources/Antlr4/ListTokenSource.swift
  runtime/Swift/Sources/Antlr4/UnbufferedTokenStream.swift
Labels: target:swift

#2399 Add const accessors to antlrcpp::Any C++ class
  contributors.txt
  runtime/Cpp/runtime/src/support/Any.h
Labels: target:cpp

#2400 Fix ST4 Snapshot dependency
  contributors.txt
  runtime-testsuite/pom.xml
  tool-testsuite/pom.xml
Labels: comp:build

#2407 Move the Swift runtime to Swift 4.2
  .travis.yml
  .travis/run-tests-swift.sh
  doc/swift-target.md
  runtime-testsuite/processors/pom.xml
  runtime-testsuite/resources/org/antlr/v4/test/runtime/templates/Swift.test.stg
  runtime/Swift/Sources/Antlr4/ParserRuleContext.swift
  runtime/Swift/Sources/Antlr4/atn/ATNConfigSet.swift
  runtime/Swift/Sources/Antlr4/atn/ParserATNSimulator.swift
  runtime/Swift/Sources/Antlr4/atn/PredictionMode.swift
  runtime/Swift/Sources/Antlr4/atn/SemanticContext.swift
  runtime/Swift/Sources/Antlr4/misc/MurmurHash.swift
  runtime/Swift/Sources/Antlr4/misc/extension/UUIDExtension.swift
Labels: target:swift

#2406 Do not throw std::bad_cast from antlrcpp::Any::is
  runtime/Cpp/runtime/src/support/Any.h
Labels: target:cpp

#2408 [Swift] Make ParserATNSimulator.precedenceTransition return a nullable value.
  runtime/Swift/Sources/Antlr4/atn/ParserATNSimulator.swift
Labels: target:swift

#2410 Swift tidyups
  runtime/Swift/Sources/Antlr4/CommonTokenFactory.swift
  runtime/Swift/Sources/Antlr4/FailedPredicateException.swift
  runtime/Swift/Sources/Antlr4/LexerInterpreter.swift
  runtime/Swift/Sources/Antlr4/LexerNoViableAltException.swift
  runtime/Swift/Sources/Antlr4/ListTokenSource.swift
  runtime/Swift/Sources/Antlr4/NoViableAltException.swift
  runtime/Swift/Sources/Antlr4/ParserInterpreter.swift
  runtime/Swift/Sources/Antlr4/VocabularySingle.swift
  runtime/Swift/Sources/Antlr4/atn/ATN.swift
  runtime/Swift/Sources/Antlr4/atn/ATNConfig.swift
  runtime/Swift/Sources/Antlr4/atn/ATNConfigSet.swift
  runtime/Swift/Sources/Antlr4/atn/ATNState.swift
  runtime/Swift/Sources/Antlr4/atn/ArrayPredictionContext.swift
  runtime/Swift/Sources/Antlr4/atn/DecisionInfo.swift
  runtime/Swift/Sources/Antlr4/atn/LexerATNSimulator.swift
  runtime/Swift/Sources/Antlr4/atn/LexerModeAction.swift
  runtime/Swift/Sources/Antlr4/atn/LexerPushModeAction.swift
  runtime/Swift/Sources/Antlr4/atn/LexerTypeAction.swift
  runtime/Swift/Sources/Antlr4/atn/LookupATNConfig.swift
  runtime/Swift/Sources/Antlr4/atn/OrderedATNConfig.swift
  runtime/Swift/Sources/Antlr4/atn/OrderedATNConfigSet.swift
  runtime/Swift/Sources/Antlr4/atn/ParserATNSimulator.swift
  runtime/Swift/Sources/Antlr4/atn/PrecedencePredicateTransition.swift
  runtime/Swift/Sources/Antlr4/atn/RuleTransition.swift
  runtime/Swift/Sources/Antlr4/atn/SetTransition.swift
  runtime/Swift/Sources/Antlr4/atn/Transition.swift
  runtime/Swift/Sources/Antlr4/dfa/DFA.swift
  runtime/Swift/Sources/Antlr4/dfa/DFAState.swift
  runtime/Swift/Sources/Antlr4/tree/pattern/RuleTagToken.swift
Labels: actions

#2411 [Swift] Syntax error in antlr4/runtime/Swift/boot.py
  runtime/Swift/boot.py
Labels: target:swift

#2409 Fix install dependency for 'typing' library in python3.4
  contributors.txt
  runtime/Python3/setup.py
Labels: target:python3

#2417 Fix #1955 python
  runtime/CSharp/runtime/CSharp/Antlr4.Runtime/Atn/ParserATNSimulator.cs
  runtime/Python2/src/antlr4/atn/ParserATNSimulator.py
  runtime/Python3/src/antlr4/atn/ParserATNSimulator.py
Labels: target:csharp, target:python2, target:python3

#2413 [Swift-runtime] Make sure mutexes are being freed accordingly
  runtime/Swift/Sources/Antlr4/misc/utils/Mutex.swift
Labels: target:swift

#2358 Assign token names to string literals in parse rule contexts
  tool-testsuite/test/org/antlr/v4/test/tool/TestCodeGeneration.java
  tool/src/org/antlr/v4/codegen/model/ElementFrequenciesVisitor.java
  tool/src/org/antlr/v4/codegen/model/RuleFunction.java
  tool/src/org/antlr/v4/tool/Grammar.java
Labels: code-gen, type:improvement

#2420 Updated antlr version for windows
  doc/getting-started.md
Labels: comp:doc

#2421 Updating current directory in classpath
  doc/getting-started.md
Labels: comp:doc

#2423 fix NPE
  runtime/CSharp/runtime/CSharp/Antlr4.Runtime/Atn/PredictionContext.cs
Labels: comp:build, target:csharp

#2426 virtual dtor for ParseTreeProperty
  contributors.txt
  runtime/Cpp/runtime/src/tree/ParseTreeProperty.h
Labels: target:cpp
