Repository antlr/antlr4, pull requests merged in 2019-10, with the labels that each got.

#2657 Fix javascript parser cache performance issue
  contributors.txt
  runtime/JavaScript/src/antlr4/PredictionContext.js
  runtime/JavaScript/src/antlr4/Utils.js
  runtime/JavaScript/src/antlr4/atn/ATNSimulator.js
Labels: target:javascript, type:improvement

#2652 Remove redundant assignment, optimize autoloading and tweak code style
  tool/resources/org/antlr/v4/tool/templates/codegen/PHP/PHP.stg
Labels: target:php

#2665 Fix codestyle and bugs in PHP.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/PHP/PHP.stg
Labels: target:php, type:improvement

#2644 Fix data race in LexerATNSimulator
  contributors.txt
  runtime/Java/src/org/antlr/v4/runtime/atn/LexerATNSimulator.java
Labels: comp:runtime, lexers, target:java, type:improvement

#2631 C++ code cleanup
  runtime/Cpp/cmake/Antlr4Package.md
  runtime/Cpp/runtime/src/ANTLRErrorStrategy.h
  runtime/Cpp/runtime/src/Lexer.cpp
  runtime/Cpp/runtime/src/Parser.cpp
  runtime/Cpp/runtime/src/Vocabulary.h
  runtime/Cpp/runtime/src/atn/ATNConfig.h
  runtime/Cpp/runtime/src/atn/ATNConfigSet.h
  runtime/Cpp/runtime/src/atn/AtomTransition.h
  runtime/Cpp/runtime/src/atn/LexerATNSimulator.cpp
  runtime/Cpp/runtime/src/atn/ParserATNSimulator.cpp
  runtime/Cpp/runtime/src/atn/ParserATNSimulator.h
  runtime/Cpp/runtime/src/atn/PredicateTransition.h
  runtime/Cpp/runtime/src/atn/PredictionContext.cpp
  runtime/Cpp/runtime/src/atn/ProfilingATNSimulator.cpp
  runtime/Cpp/runtime/src/tree/pattern/ParseTreeMatch.h
  runtime/Cpp/runtime/src/tree/pattern/ParseTreePattern.h
Labels: target:cpp, type:improvement

#2667 Another attempt at solving this issue
  runtime/Cpp/runtime/antlr4cpp-vs2019.vcxproj
  runtime/Cpp/runtime/antlr4cpp-vs2019.vcxproj.filters
  runtime/Cpp/runtime/antlrcpp.xcodeproj/xcshareddata/xcschemes/antlr4.xcscheme
  runtime/Cpp/runtime/src/tree/xpath/XPath.cpp
  runtime/Cpp/runtime/src/tree/xpath/XPath.h
Labels: target:cpp, type:bug

#2529 Fixed -Wreorder warning
  contributors.txt
  runtime/Cpp/runtime/src/NoViableAltException.cpp
Labels: target:cpp
