Repository antlr/antlr4, pull requests merged in 2019-12, with the labels that each got.

#2599 Remove unnecessary Travis files.
  .travis/before-install-linux-cpp.sh
  .travis/before-install-linux-go.sh
  .travis/before-install-linux-java.sh
  .travis/before-install-linux-javascript.sh
  .travis/before-install-linux-python2.sh
  .travis/before-install-linux-python3.sh
  .travis/run-tests-python2.sh
  .travis/run-tests-python3.sh
Labels: target:go

#2604 [Swift] Check process exit status during tests.
  runtime-testsuite/test/org/antlr/v4/test/runtime/swift/BaseSwiftTest.java
Labels: target:swift

#2637 Remove unused macros from test templates.
  runtime-testsuite/resources/org/antlr/v4/test/runtime/templates/CSharp.test.stg
  runtime-testsuite/resources/org/antlr/v4/test/runtime/templates/Chrome.test.stg
  runtime-testsuite/resources/org/antlr/v4/test/runtime/templates/Cpp.test.stg
  runtime-testsuite/resources/org/antlr/v4/test/runtime/templates/Explorer.test.stg
  runtime-testsuite/resources/org/antlr/v4/test/runtime/templates/Firefox.test.stg
  runtime-testsuite/resources/org/antlr/v4/test/runtime/templates/Go.test.stg
  runtime-testsuite/resources/org/antlr/v4/test/runtime/templates/Java.test.stg
  runtime-testsuite/resources/org/antlr/v4/test/runtime/templates/Node.test.stg
  runtime-testsuite/resources/org/antlr/v4/test/runtime/templates/Python2.test.stg
  runtime-testsuite/resources/org/antlr/v4/test/runtime/templates/Python3.test.stg
  runtime-testsuite/resources/org/antlr/v4/test/runtime/templates/Safari.test.stg
  runtime-testsuite/resources/org/antlr/v4/test/runtime/templates/Swift.test.stg
Labels: code-gen

#2686 [Swift] Migrate Swift runtime to Swift 5.
  .travis.yml
  .travis/run-tests-swift.sh
  contributors.txt
  runtime-testsuite/resources/org/antlr/v4/test/runtime/templates/Swift.test.stg
  runtime/Swift/Sources/Antlr4/DiagnosticErrorListener.swift
  runtime/Swift/Sources/Antlr4/Parser.swift
  runtime/Swift/Sources/Antlr4/UnbufferedCharStream.swift
  runtime/Swift/Sources/Antlr4/VocabularySingle.swift
  runtime/Swift/Sources/Antlr4/atn/ATNConfig.swift
  runtime/Swift/Sources/Antlr4/atn/ATNConfigSet.swift
  runtime/Swift/Sources/Antlr4/atn/ATNDeserializer.swift
  runtime/Swift/Sources/Antlr4/atn/ATNState.swift
  runtime/Swift/Sources/Antlr4/atn/LexerATNConfig.swift
  runtime/Swift/Sources/Antlr4/atn/LexerAction.swift
  runtime/Swift/Sources/Antlr4/atn/LexerActionExecutor.swift
  runtime/Swift/Sources/Antlr4/atn/LexerChannelAction.swift
  runtime/Swift/Sources/Antlr4/atn/LexerCustomAction.swift
  runtime/Swift/Sources/Antlr4/atn/LexerIndexedCustomAction.swift
  runtime/Swift/Sources/Antlr4/atn/LexerModeAction.swift
  runtime/Swift/Sources/Antlr4/atn/LexerMoreAction.swift
  runtime/Swift/Sources/Antlr4/atn/LexerPopModeAction.swift
  runtime/Swift/Sources/Antlr4/atn/LexerPushModeAction.swift
  runtime/Swift/Sources/Antlr4/atn/LexerSkipAction.swift
  runtime/Swift/Sources/Antlr4/atn/LexerTypeAction.swift
  runtime/Swift/Sources/Antlr4/atn/LookupATNConfig.swift
  runtime/Swift/Sources/Antlr4/atn/ParseInfo.swift
  runtime/Swift/Sources/Antlr4/atn/ParserATNSimulator.swift
  runtime/Swift/Sources/Antlr4/atn/PredictionContext.swift
  runtime/Swift/Sources/Antlr4/atn/SemanticContext.swift
  runtime/Swift/Sources/Antlr4/atn/Transition.swift
  runtime/Swift/Sources/Antlr4/dfa/DFAState.swift
  runtime/Swift/Sources/Antlr4/misc/BitSet.swift
  runtime/Swift/Sources/Antlr4/misc/Interval.swift
  runtime/Swift/Sources/Antlr4/misc/IntervalSet.swift
  tool/resources/org/antlr/v4/tool/templates/codegen/Swift/Swift.stg
Labels: target:swift

#2685 Fix ExternalAntlr4Cpp.cmake to work with CMake 3.14
  contributors.txt
  runtime/Cpp/cmake/ExternalAntlr4Cpp.cmake
  runtime/Cpp/cmake/README.md
Labels: target:cpp

#2532 don't unnecessary fetch all tokens when grabbing an interval of text …
  runtime/Cpp/runtime/src/BufferedTokenStream.cpp
Labels: target:cpp

#2472 fix cpp cmake for emscripten
  contributors.txt
  runtime/Cpp/CMakeLists.txt
Labels: target:cpp

#2679 Fix placement of @members in Javascript target lexers
  contributors.txt
  tool/resources/org/antlr/v4/tool/templates/codegen/JavaScript/JavaScript.stg
Labels: target:javascript

#2673 Fix main entry point for JavaScript runtime npm package
  runtime/JavaScript/src/antlr4/package.json
Labels: target:javascript

#2705 Add the submodule update step to the release docs
  doc/releasing-antlr.md
Labels: comp:doc

#2704 [PHP] Fix AppVeyor tests
  appveyor.yml
Labels: comp:build
