Repository antlr/antlr4, pull requests merged in 2019-03, with the labels that each got.

#2510 Added visitor example.
  contributors.txt
  doc/javascript-target.md
Labels: comp:doc, target:python2, target:python3

#2514 DOCS: do not use python built-in as variable name
  contributors.txt
  doc/python-target.md
Labels: comp:doc, target:python2, target:python3

#2517 Fix imports in the Python2 sources.
  tool/resources/org/antlr/v4/tool/templates/codegen/Python2/Python2.stg
Labels: target:python2, type:bug

#2520 Clean up namespace of generated Python3 listeners
  tool/resources/org/antlr/v4/tool/templates/codegen/Python3/Python3.stg
Labels: target:python3
