Repository antlr/antlr4, pull requests merged in 2019-09, with the labels that each got.

#2638 General XPath fixes for the Python3 runtime
  contributors.txt
  runtime/Python3/src/antlr4/xpath/XPath.py
  runtime/Python3/test/expr/Expr.g4
  runtime/Python3/test/expr/ExprLexer.py
  runtime/Python3/test/expr/ExprParser.py
  runtime/Python3/test/run.py
  runtime/Python3/test/xpathtest.py
Labels: target:python3, type:bug

#2613 Fixed TextIO compatibility with 3.6+
  contributors.txt
  tool/resources/org/antlr/v4/tool/templates/codegen/Python3/Python3.stg
Labels: target:python3

#2615 Improve case insensitive lexing code
  contributors.txt
  doc/case-insensitive-lexing.md
  doc/resources/CaseChangingStream.js
  doc/resources/CaseChangingStream.py
  doc/resources/CaseInsensitiveInputStream.js
  doc/resources/case_changing_stream.go
Labels: comp:doc, comp:runtime, lexers

#2633 Fix javascript hashing bug
  contributors.txt
  runtime/JavaScript/src/antlr4/PredictionContext.js
  runtime/JavaScript/src/antlr4/Utils.js
  runtime/JavaScript/src/antlr4/atn/ATNConfigSet.js
  runtime/JavaScript/src/antlr4/atn/ATNDeserializer.js
  runtime/JavaScript/src/antlr4/dfa/DFAState.js
Labels: target:javascript, type:bug
