Repository antlr/antlr4, pull requests merged in 2020-02, with the labels that each got.

#2746 Javascript: migrate prototypical DFA objects to es6 classes
  runtime/JavaScript/src/antlr4/dfa/DFA.js
  runtime/JavaScript/src/antlr4/dfa/DFASerializer.js
  runtime/JavaScript/src/antlr4/dfa/DFAState.js
Labels: target:javascript

#2744 Fix CMake packaging
  contributors.txt
  runtime/Cpp/CMakeLists.txt
Labels: target:cpp

#2754 replace gramamr with grammar
  contributors.txt
  tool/src/org/antlr/v4/parse/ANTLRLexer.g
  tool/src/org/antlr/v4/parse/ANTLRParser.g
Labels: type:improvement

#2749 Javascript: migrate prototypical Tree objects to es6 classes
  runtime-testsuite/test/org/antlr/v4/test/runtime/javascript/BaseNodeTest.java
  runtime/JavaScript/src/antlr4/ParserRuleContext.js
  runtime/JavaScript/src/antlr4/PredictionContext.js
  runtime/JavaScript/src/antlr4/RuleContext.js
  runtime/JavaScript/src/antlr4/atn/ATN.js
  runtime/JavaScript/src/antlr4/atn/ATNConfigSet.js
  runtime/JavaScript/src/antlr4/atn/ATNDeserializer.js
  runtime/JavaScript/src/antlr4/atn/LexerATNSimulator.js
  runtime/JavaScript/src/antlr4/atn/ParserATNSimulator.js
  runtime/JavaScript/src/antlr4/atn/PredictionMode.js
  runtime/JavaScript/src/antlr4/atn/index.js
  runtime/JavaScript/src/antlr4/dfa/DFA.js
  runtime/JavaScript/src/antlr4/dfa/index.js
  runtime/JavaScript/src/antlr4/error/DiagnosticErrorListener.js
  runtime/JavaScript/src/antlr4/error/index.js
  runtime/JavaScript/src/antlr4/tree/Tree.js
  runtime/JavaScript/src/antlr4/tree/Trees.js
  runtime/JavaScript/src/antlr4/tree/index.js
  tool/resources/org/antlr/v4/tool/templates/codegen/JavaScript/JavaScript.stg
Labels: target:javascript

#2761 Javascript: browser support increased with babel transformation
  runtime/JavaScript/.babelrc
  runtime/JavaScript/package-lock.json
  runtime/JavaScript/package.json
  runtime/JavaScript/webpack.config.js
Labels: target:javascript
