Repository antlr/antlr4, pull requests merged in 2020-11, with the labels that each got.

#2952 Fix links to faqs about translations
  contributors.txt
  doc/faq/index.md
Labels: comp:doc

#2919 Fix typo - our -> are
  doc/faq/parse-trees.md
Labels: comp:doc

#2904 Update getting started guide to use antlr4.8
  contributors.txt
  doc/getting-started.md
Labels: comp:doc

#2851 Be more precise in documentation of char set when escaping is needed
  doc/lexer-rules.md
Labels: comp:doc

#2800 Make sample grammar for lexer modes more readable
  contributors.txt
  doc/lexer-rules.md
Labels: comp:doc

#2827 fix composer command in documentation
  contributors.txt
  doc/php-target.md
Labels: comp:doc, target:php

#2799 Fixed link to CMake example in cpp-target.md
  contributors.txt
  doc/cpp-target.md
Labels: comp:doc, target:cpp

#2748 Update cpp-target.md doc (tree::ParseTreeWalker::DEFAULT is now a reference)
  contributors.txt
Labels: actions, target:cpp

#2731 fixing a typo, was role instead of rule
  doc/lexer-rules.md
Labels: actions

#2680 Documentation: Added Missing lexer/parermodifier clarification in example
  contributors.txt
  doc/lexicon.md
Labels: actions

#2646 maven-compiler-plugin 3.8.1
  pom.xml
Labels: comp:build

#2647 maven-plugin-plugin 3.6.0
  antlr4-maven-plugin/pom.xml
Labels: actions, comp:build

#2636 Fix escaping of angle brackets #2635
  contributors.txt
  runtime/Cpp/README.md
Labels: actions

#2622 [Golang] enable syntax highlighting
  contributors.txt
  doc/go-target.md
Labels: comp:doc, target:go

#2616 (minor) word slip 'each'
  contributors.txt
  doc/lexer-rules.md
Labels: actions

#2552 Added a missing quote.
  contributors.txt
  doc/actions.md
Labels: comp:doc

#2538 Update tree-matching.md
  doc/tree-matching.md
Labels: actions

#2964 allow multiple versions when locating python tool
  runtime-testsuite/test/org/antlr/v4/test/runtime/python/BasePythonTest.java
  runtime-testsuite/test/org/antlr/v4/test/runtime/python2/BasePython2Test.java
  runtime-testsuite/test/org/antlr/v4/test/runtime/python3/BasePython3Test.java
Labels: comp:testing, target:python2, target:python3
