Repository antlr/antlr4, pull requests merged in 2020-10, with the labels that each got.

#2923 cpp-target.md link broken fix
  doc/cpp-target.md
Labels: comp:doc, target:cpp

#2934 Made C# Trace Listener usable for most cases
  contributors.txt
  runtime/CSharp/runtime/CSharp/Antlr4.Runtime/Parser.cs
Labels: target:csharp

#2375 NullReferenceException in CSharp target #2304
  contributors.txt
  runtime/CSharp/runtime/CSharp/Antlr4.Runtime/Atn/SingletonPredictionContext.cs
Labels: target:csharp

#2913 Fix linker issue when compiling Cpp runtime with CMake and MSVC on Windows
  contributors.txt
  runtime/Cpp/runtime/CMakeLists.txt
Labels: comp:build, target:cpp

#2933 Correct the csharp-target example for invoking a custom listener
  doc/csharp-target.md
Labels: comp:doc

#2927 Fix undefined value
  runtime/Python3/src/antlr4/PredictionContext.py
Labels: target:python3

#2903 add a missing space
  doc/lexicon.md
Labels: actions, comp:doc

#2891 fix a typo
  runtime/Java/src/org/antlr/v4/runtime/tree/Tree.java
Labels: comp:doc

#2817 Added a link to README.md to increase accessibility
  contributors.txt
  doc/getting-started.md
Labels: comp:doc

#2462 Fix code generation for catch statements in python
  contributors.txt
  tool/resources/org/antlr/v4/tool/templates/codegen/Python2/Python2.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Python3/Python3.stg
Labels: target:python2, target:python3

#2931 Javascript es6 migration
  .travis.yml
  .travis/before-install-linux-javascript.sh
  .travis/run-tests-javascript.sh
  appveyor.yml
  doc/javascript-target.md
  runtime-testsuite/resources/org/antlr/v4/test/runtime/templates/Chrome.test.stg
  runtime-testsuite/resources/org/antlr/v4/test/runtime/templates/Firefox.test.stg
  runtime-testsuite/resources/org/antlr/v4/test/runtime/templates/Node.test.stg
  runtime-testsuite/resources/org/antlr/v4/test/runtime/templates/Safari.test.stg
  runtime-testsuite/test/org/antlr/v4/test/runtime/BaseRuntimeTest.java
  runtime-testsuite/test/org/antlr/v4/test/runtime/TestContext.java
  runtime-testsuite/test/org/antlr/v4/test/runtime/javascript/BaseNodeTest.java
  runtime/JavaScript/package-lock.json
  runtime/JavaScript/package.json
  runtime/JavaScript/src/antlr4/PredictionContext.js
  runtime/JavaScript/src/antlr4/RuleContext.js
  runtime/JavaScript/src/antlr4/atn/ATN.js
  runtime/JavaScript/src/antlr4/atn/ParserATNSimulator.js
  runtime/JavaScript/src/antlr4/tree/Trees.js
  tool/resources/org/antlr/v4/tool/templates/codegen/JavaScript/JavaScript.stg
Labels: target:javascript

#2809 [Swift] Update codegen template
  contributors.txt
  tool/resources/org/antlr/v4/tool/templates/codegen/Swift/Swift.stg
Labels: target:swift

#2781 added throws declaration missing from generated swift code
  tool/resources/org/antlr/v4/tool/templates/codegen/Swift/Swift.stg
Labels: target:swift

#2819 Added missing swift version of class ParseTreeProperty
  contributors.txt
  runtime/Swift/Sources/Antlr4/tree/ParseTreeProperty.swift
Labels: target:swift

#2945 [PHP] Escape dollar sign in target string literal
  contributors.txt
  runtime-testsuite/test/org/antlr/v4/test/runtime/descriptors/LexerExecDescriptors.java
  tool/src/org/antlr/v4/codegen/target/PHPTarget.java
Labels: target:php

#2935 Changed Python runtime Lexer.py, Parser.py to support version >= 3.5
  contributors.txt
  runtime/Python3/src/antlr4/Lexer.py
  runtime/Python3/src/antlr4/Parser.py
Labels: target:python3

#2942 Corrected Webpack configuration in JavaScript documentation
  contributors.txt
  doc/javascript-target.md
Labels: comp:doc, target:javascript
