Repository antlr/antlr4, pull requests merged in 2020-09, with the labels that each got.

#2899 Fix clang compile error with --stdlib=libc++
  contributors.txt
  runtime/Cpp/CMakeLists.txt
Labels: target:cpp

#2887 Fix C++ target README example
  contributors.txt
  doc/cpp-target.md
Labels: comp:doc, target:cpp

#2865 [C++ codegen] Add default cases to AltBlock and OptionalBlock
  tool/resources/org/antlr/v4/tool/templates/codegen/Cpp/Cpp.stg
Labels: target:cpp

#2854 [C++ codegen] Remove use of the u8"" string literal prefix
  tool/resources/org/antlr/v4/tool/templates/codegen/Cpp/Cpp.stg
Labels: target:cpp

#2850 [C++ codegen] Add explicit keyword to constructor
  tool/resources/org/antlr/v4/tool/templates/codegen/Cpp/Cpp.stg
Labels: target:cpp

#2847 [C++ runtime] Add AntlrInputStream(std::string_view) constructor
  runtime/Cpp/runtime/antlr4cpp-vs2019.vcxproj
  runtime/Cpp/runtime/src/ANTLRInputStream.cpp
  runtime/Cpp/runtime/src/ANTLRInputStream.h
Labels: target:cpp

#2839 [C++ runtime] Improvements of Vocabulary::fromTokenNames
  contributors.txt
  runtime/Cpp/runtime/src/Vocabulary.cpp
  runtime/Cpp/runtime/src/Vocabulary.h
Labels: target:cpp

#2835 [C++ runtime]: Improve coding style of auto usages
  contributors.txt
  runtime/Cpp/runtime/src/Parser.cpp
  runtime/Cpp/runtime/src/ParserRuleContext.cpp
  runtime/Cpp/runtime/src/ParserRuleContext.h
  runtime/Cpp/runtime/src/ProxyErrorListener.cpp
  runtime/Cpp/runtime/src/TokenStreamRewriter.cpp
  runtime/Cpp/runtime/src/atn/ATN.cpp
  runtime/Cpp/runtime/src/atn/ATNConfig.h
  runtime/Cpp/runtime/src/atn/ATNSerializer.cpp
  runtime/Cpp/runtime/src/atn/ATNState.cpp
  runtime/Cpp/runtime/src/atn/ParserATNSimulator.cpp
  runtime/Cpp/runtime/src/dfa/DFA.cpp
  runtime/Cpp/runtime/src/dfa/DFASerializer.cpp
  runtime/Cpp/runtime/src/dfa/DFAState.cpp
  runtime/Cpp/runtime/src/misc/IntervalSet.cpp
  runtime/Cpp/runtime/src/support/Any.h
  runtime/Cpp/runtime/src/support/Arrays.cpp
  runtime/Cpp/runtime/src/support/CPPUtils.cpp
  runtime/Cpp/runtime/src/support/StringUtils.h
  runtime/Cpp/runtime/src/tree/ParseTree.h
  runtime/Cpp/runtime/src/tree/Trees.cpp
  runtime/Cpp/runtime/src/tree/pattern/ParseTreePattern.cpp
  runtime/Cpp/runtime/src/tree/xpath/XPath.cpp
  runtime/Cpp/runtime/src/tree/xpath/XPathRuleElement.cpp
  runtime/Cpp/runtime/src/tree/xpath/XPathTokenElement.cpp
Labels: target:cpp

#2892 [C++ runtime] Remove codecvt header (deprecated in C++17) in cpp runtime.
  contributors.txt
  runtime/Cpp/CMakeLists.txt
  runtime/Cpp/deploy-macos.sh
  runtime/Cpp/runtime/CMakeLists.txt
  runtime/Cpp/runtime/antlrcpp.xcodeproj/project.pbxproj
  runtime/Cpp/runtime/src/antlr4-common.h
  runtime/Cpp/runtime/src/support/StringUtils.cpp
  runtime/Cpp/runtime/src/support/StringUtils.h
Labels: target:cpp

#2907 Fix regressions in travis Cpp tests
  tool/resources/org/antlr/v4/tool/templates/codegen/Cpp/Cpp.stg
Labels: target:cpp

#2905 Fix #2902
  runtime/JavaScript/src/antlr4/PredictionContext.js
  runtime/JavaScript/src/antlr4/Utils.js
Labels: target:javascript

#2911 separate py3 runtime tests from src tree + actually run said tests in CI
  .gitignore
  contributors.txt
  runtime/Python3/src/antlr4/FileStream.py
  runtime/Python3/src/antlr4/InputStream.py
  runtime/Python3/src/antlr4/IntervalSet.py
  runtime/Python3/src/antlr4/Recognizer.py
  runtime/Python3/test/TestFileStream.py
  runtime/Python3/test/TestInputStream.py
  runtime/Python3/test/TestIntervalSet.py
  runtime/Python3/test/TestRecognizer.py
  runtime/Python3/test/run.py
Labels: target:python3
