Repository antlr/antlr4, pull requests merged in 2021-09, with the labels that each got.

#2773 Fix compiler warning cpp
  contributors.txt
  runtime/Cpp/runtime/src/atn/ATN.h
  runtime/Cpp/runtime/src/atn/ATNState.h
Labels: target:cpp

#3243 fix: use 32bit murmur3 same with java, implement array2dhashset which…
  contributors.txt
  runtime/Go/antlr/atn_config.go
  runtime/Go/antlr/atn_config_set.go
  runtime/Go/antlr/dfa_serializer.go
  runtime/Go/antlr/dfa_state.go
  runtime/Go/antlr/interval_set.go
  runtime/Go/antlr/lexer_action.go
  runtime/Go/antlr/lexer_atn_simulator.go
  runtime/Go/antlr/ll1_analyzer.go
  runtime/Go/antlr/parser_atn_simulator.go
  runtime/Go/antlr/prediction_context.go
  runtime/Go/antlr/semantic_context.go
  runtime/Go/antlr/testing_assert_test.go
  runtime/Go/antlr/transition.go
  runtime/Go/antlr/utils.go
  runtime/Go/antlr/utils_set.go
Labels: target:go

#2901 [Swift] optional unwrapping
  contributors.txt
  runtime/Swift/Sources/Antlr4/Parser.swift
  runtime/Swift/Sources/Antlr4/ParserRuleContext.swift
  runtime/Swift/Sources/Antlr4/RuleContext.swift
  runtime/Swift/Sources/Antlr4/VocabularySingle.swift
  runtime/Swift/Sources/Antlr4/atn/LexerATNSimulator.swift
  runtime/Swift/Sources/Antlr4/atn/ParserATNSimulator.swift
  runtime/Swift/Sources/Antlr4/tree/Trees.swift
  runtime/Swift/Sources/Antlr4/tree/pattern/ParseTreeMatch.swift
  runtime/Swift/Sources/Antlr4/tree/pattern/ParseTreePatternMatcher.swift
Labels: target:swift

#3276 [Swift] Changes to Mutex-es to guard the staticly shared [DFA]
  runtime/Swift/Sources/Antlr4/atn/LexerATNSimulator.swift
  runtime/Swift/Sources/Antlr4/atn/ParserATNSimulator.swift
  runtime/Swift/Sources/Antlr4/dfa/DFA.swift
  runtime/Swift/Sources/Antlr4/dfa/DFAState.swift
  runtime/Swift/Tests/Antlr4Tests/Threading.g4
  runtime/Swift/Tests/Antlr4Tests/ThreadingTests.swift
Labels: target:swift
