Repository antlr/antlr4, pull requests merged in 2021-12, with the labels that each got.

#3380 [Java] Fix complaints from ErrorProne static analysis
  runtime/Java/src/org/antlr/v4/runtime/ANTLRFileStream.java
  runtime/Java/src/org/antlr/v4/runtime/ANTLRInputStream.java
  runtime/Java/src/org/antlr/v4/runtime/CommonToken.java
  runtime/Java/src/org/antlr/v4/runtime/atn/ATNDeserializer.java
  runtime/Java/src/org/antlr/v4/runtime/misc/NotNull.java
  runtime/Java/src/org/antlr/v4/runtime/misc/TestRig.java
  runtime/Java/src/org/antlr/v4/runtime/tree/Trees.java
  tool/src/org/antlr/v4/codegen/target/GoTarget.java
  tool/src/org/antlr/v4/misc/MutableInt.java
  tool/src/org/antlr/v4/tool/ErrorManager.java
Labels: type:cleanup

#3383 [Java] Fix remaining complaints from ErrorProne static analysis
  tool/src/org/antlr/v4/codegen/ActionTranslator.java
Labels: target:java, type:cleanup

#3376 Fix Dart linter errors under strict mode
  runtime/Dart/lib/src/atn/atn.dart
  runtime/Dart/lib/src/atn/src/atn_state.dart
  runtime/Dart/lib/src/atn/src/parser_atn_simulator.dart
  runtime/Dart/lib/src/atn/src/profiling_atn_simulator.dart
  runtime/Dart/lib/src/dfa/src/dfa_state.dart
  runtime/Dart/lib/src/interval_set.dart
  runtime/Dart/lib/src/parser.dart
  runtime/Dart/lib/src/recognizer.dart
  runtime/Dart/lib/src/tree/src/trees.dart
Labels: target:dart, type:cleanup

#3374 Fix reported memory leak
  runtime/Cpp/runtime/src/atn/LexerATNSimulator.cpp
Labels: target:cpp

#3377 [C++] Switch from NOEXCEPT to noexcept
  runtime/Cpp/runtime/src/Exceptions.cpp
  runtime/Cpp/runtime/src/Exceptions.h
  runtime/Cpp/runtime/src/antlr4-common.h
  runtime/Cpp/runtime/src/atn/ATN.cpp
  runtime/Cpp/runtime/src/atn/ATN.h
Labels: target:cpp

#3393 [C++] Partially undo commit a8d828016e54adfc403326d8e56d93e7c75c27fc
  tool/resources/org/antlr/v4/tool/templates/codegen/Cpp/Cpp.stg
Labels: target:cpp

#3394 [C++] Fix ambiguous ANTLRInputStream constructor overload
  runtime/Cpp/runtime/src/ANTLRInputStream.cpp
  runtime/Cpp/runtime/src/ANTLRInputStream.h
Labels: target:cpp

#3386 C# and Go runtime tests fixes on non-Windows OS
  runtime-testsuite/test/org/antlr/v4/test/runtime/csharp/BaseCSharpTest.java
  runtime-testsuite/test/org/antlr/v4/test/runtime/go/BaseGoTest.java
  runtime/CSharp/src/Antlr4.csproj
Labels: comp:runtime, target:csharp, target:go, comp:testing

#3396 Update maven plugin versions
  .circleci/config.yml
  .circleci/scripts/run-tests-cpp.sh
  .circleci/scripts/run-tests-dart.sh
  .circleci/scripts/run-tests-dotnet.sh
  .circleci/scripts/run-tests-go.sh
  .circleci/scripts/run-tests-javascript.sh
  .circleci/scripts/run-tests-php.sh
  .circleci/scripts/run-tests-python2.sh
  .circleci/scripts/run-tests-python3.sh
  .circleci/scripts/run-tests-swift.sh
  antlr4-maven-plugin/pom.xml
  doc/antlr-project-testing.md
  doc/building-antlr.md
  pom.xml
  runtime-testsuite/pom.xml
  runtime/Java/pom.xml
  tool-testsuite/pom.xml
  tool/pom.xml
Labels: comp:build, comp:doc, comp:testing

#3395 [C++] Switch to std::any and deprecate antlrcpp::Any
  runtime/Cpp/runtime/src/RuleContext.cpp
  runtime/Cpp/runtime/src/RuleContext.h
  runtime/Cpp/runtime/src/antlr4-common.h
  runtime/Cpp/runtime/src/support/Any.cpp
  runtime/Cpp/runtime/src/support/Any.h
  runtime/Cpp/runtime/src/support/CPPUtils.cpp
  runtime/Cpp/runtime/src/tree/AbstractParseTreeVisitor.h
  runtime/Cpp/runtime/src/tree/ErrorNodeImpl.cpp
  runtime/Cpp/runtime/src/tree/ErrorNodeImpl.h
  runtime/Cpp/runtime/src/tree/ParseTree.h
  runtime/Cpp/runtime/src/tree/ParseTreeVisitor.h
  runtime/Cpp/runtime/src/tree/TerminalNodeImpl.cpp
  runtime/Cpp/runtime/src/tree/TerminalNodeImpl.h
  tool/resources/org/antlr/v4/tool/templates/codegen/Cpp/Cpp.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Cpp/Files.stg
Labels: target:cpp

#3337 Add .clang-format file to ensure consistent style of C++
  .clang-format
Labels: target:cpp

#3378 [C++] Modernize Vocabulary using std::string_view
  runtime-testsuite/resources/org/antlr/v4/test/runtime/templates/Cpp.test.stg
  runtime/Cpp/runtime/src/LexerInterpreter.cpp
  runtime/Cpp/runtime/src/LexerInterpreter.h
  runtime/Cpp/runtime/src/ParserInterpreter.cpp
  runtime/Cpp/runtime/src/ParserInterpreter.h
  runtime/Cpp/runtime/src/Recognizer.cpp
  runtime/Cpp/runtime/src/Recognizer.h
  runtime/Cpp/runtime/src/Vocabulary.cpp
  runtime/Cpp/runtime/src/Vocabulary.h
  runtime/Cpp/runtime/src/antlr4-common.h
  runtime/Cpp/runtime/src/dfa/DFA.cpp
  runtime/Cpp/runtime/src/dfa/DFA.h
  runtime/Cpp/runtime/src/dfa/DFASerializer.cpp
  runtime/Cpp/runtime/src/dfa/DFASerializer.h
  runtime/Cpp/runtime/src/misc/IntervalSet.cpp
  runtime/Cpp/runtime/src/misc/IntervalSet.h
  runtime/Cpp/runtime/src/tree/xpath/XPathLexer.cpp
  runtime/Cpp/runtime/src/tree/xpath/XPathLexer.h
  tool/resources/org/antlr/v4/tool/templates/codegen/Cpp/Cpp.stg
Labels: target:cpp

#3402 Fixed C++ runtime demo
  runtime/Cpp/demo/Mac/antlrcpp-demo.xcodeproj/project.pbxproj
  runtime/Cpp/runtime/antlrcpp.xcodeproj/project.pbxproj
Labels: target:cpp

#3398 [C++] Implement standalone Unicode encoding and decoding handling
  .circleci/scripts/run-tests-cpp.sh
  .github/scripts/run-tests-cpp.sh
  .travis/run-tests-cpp.sh
  runtime/Cpp/CMakeLists.txt
  runtime/Cpp/deploy-macos.sh
  runtime/Cpp/runtime/CMakeLists.txt
  runtime/Cpp/runtime/src/ANTLRInputStream.cpp
  runtime/Cpp/runtime/src/ANTLRInputStream.h
  runtime/Cpp/runtime/src/UnbufferedCharStream.cpp
  runtime/Cpp/runtime/src/antlr4-common.h
  runtime/Cpp/runtime/src/support/StringUtils.cpp
  runtime/Cpp/runtime/src/support/StringUtils.h
  runtime/Cpp/runtime/src/support/Unicode.h
  runtime/Cpp/runtime/src/support/Utf8.cpp
  runtime/Cpp/runtime/src/support/Utf8.h
  runtime/Cpp/runtime/tests/Utf8Test.cpp
Labels: target:cpp

#3400 [C++] Cleanup EMPTY_VOCABULARY uses and remove SingleWriteMultipleRea…
  runtime/Cpp/runtime/src/antlr4-common.h
  runtime/Cpp/runtime/src/atn/ATNSimulator.cpp
  runtime/Cpp/runtime/src/atn/ATNSimulator.h
  runtime/Cpp/runtime/src/atn/LexerATNSimulator.cpp
  runtime/Cpp/runtime/src/atn/ParserATNSimulator.cpp
  runtime/Cpp/runtime/src/dfa/DFA.cpp
  runtime/Cpp/runtime/src/dfa/DFA.h
  runtime/Cpp/runtime/src/dfa/LexerDFASerializer.cpp
  runtime/Cpp/runtime/src/support/CPPUtils.cpp
  runtime/Cpp/runtime/src/support/CPPUtils.h
Labels: target:cpp

#3401 [C++] Optimize ATN deserialization
  runtime/Cpp/runtime/src/atn/ATNDeserializer.cpp
Labels: target:cpp, comp:performance

#3353 Get rid of reflection in Go.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Go/Go.stg
Labels: target:go

#3409 [C++] Clean up antlr4::misc::Interval and antlr4::dfa
  runtime/Cpp/runtime/src/dfa/DFA.cpp
  runtime/Cpp/runtime/src/dfa/DFA.h
  runtime/Cpp/runtime/src/dfa/DFASerializer.cpp
  runtime/Cpp/runtime/src/dfa/DFASerializer.h
  runtime/Cpp/runtime/src/dfa/DFAState.cpp
  runtime/Cpp/runtime/src/dfa/DFAState.h
  runtime/Cpp/runtime/src/dfa/LexerDFASerializer.cpp
  runtime/Cpp/runtime/src/dfa/LexerDFASerializer.h
  runtime/Cpp/runtime/src/misc/Interval.cpp
  runtime/Cpp/runtime/src/misc/Interval.h
Labels: target:cpp

#3421 [Go] Improve BitSet implementation
  runtime/Go/antlr/utils.go
  runtime/Go/antlr/utils_test.go
Labels: target:go

#3422 [Go] Make BaseGoTest::initializeRuntime static
  runtime-testsuite/test/org/antlr/v4/test/runtime/go/BaseGoTest.java
Labels: target:go, comp:testing

#3427 [Go] Fix BitSet OR operation
  runtime/Go/antlr/utils.go
  runtime/Go/antlr/utils_test.go
Labels: target:go

#3413 [C++] Improve whitespace escaping
  runtime/Cpp/runtime/src/ANTLRFileStream.cpp
  runtime/Cpp/runtime/src/CommonToken.cpp
  runtime/Cpp/runtime/src/DefaultErrorStrategy.cpp
  runtime/Cpp/runtime/src/Lexer.cpp
  runtime/Cpp/runtime/src/RecognitionException.cpp
  runtime/Cpp/runtime/src/Recognizer.cpp
  runtime/Cpp/runtime/src/antlr4-runtime.h
  runtime/Cpp/runtime/src/atn/ATNDeserializer.cpp
  runtime/Cpp/runtime/src/support/StringUtils.cpp
  runtime/Cpp/runtime/src/support/StringUtils.h
  runtime/Cpp/runtime/src/tree/pattern/ParseTreePatternMatcher.cpp
Labels: target:cpp, type:cleanup

#3425 Use release build config instead of debug for Swift runtime tests (improve performance more than 50%)
  runtime-testsuite/test/org/antlr/v4/test/runtime/csharp/BaseCSharpTest.java
  runtime-testsuite/test/org/antlr/v4/test/runtime/swift/BaseSwiftTest.java
Labels: target:swift

#3431 [C++] Improve MurmurHash performance for Clang
  runtime/Cpp/runtime/src/antlr4-common.h
  runtime/Cpp/runtime/src/misc/MurmurHash.cpp
  runtime/Cpp/runtime/src/misc/MurmurHash.h
Labels: target:cpp, comp:performance

#3419 Bugfix 3375: Fix bug when pasing .interp file
  contributors.txt
  runtime-testsuite/resources/org/antlr/v4/test/runtime/InterpDataReaderTest.interp
  runtime-testsuite/resources/org/antlr/v4/test/runtime/InterpDataReaderTest2.interp
  runtime-testsuite/test/org/antlr/v4/test/runtime/java/TestInterpreterDataReader.java
  runtime/Java/src/org/antlr/v4/runtime/misc/InterpreterDataReader.java
Labels: actions, type:bug

#3399 Implement caseInsensitive option
  .editorconfig
  doc/case-insensitive-lexing.md
  doc/options.md
  doc/resources/CaseChangingCharStream.cs
  doc/resources/CaseChangingCharStream.java
  doc/resources/CaseChangingStream.js
  doc/resources/CaseChangingStream.py
  doc/resources/case_changing_char_stream.dart
  doc/resources/case_changing_stream.go
  runtime-testsuite/test/org/antlr/v4/test/runtime/BaseRuntimeTest.java
  runtime/Java/src/org/antlr/v4/runtime/atn/CodePointTransitions.java
  tool-testsuite/test/org/antlr/v4/test/tool/TestATNLexerInterpreter.java
  tool-testsuite/test/org/antlr/v4/test/tool/TestParserExec.java
  tool-testsuite/test/org/antlr/v4/test/tool/TestParserInterpreter.java
  tool-testsuite/test/org/antlr/v4/test/tool/TestSymbolIssues.java
  tool/src/org/antlr/v4/automata/ATNOptimizer.java
  tool/src/org/antlr/v4/automata/LexerATNFactory.java
  tool/src/org/antlr/v4/automata/RangeBorderCharactersData.java
  tool/src/org/antlr/v4/semantics/BasicSemanticChecks.java
  tool/src/org/antlr/v4/tool/ErrorType.java
  tool/src/org/antlr/v4/tool/Grammar.java
Labels: lexers, options, type:improvement

#3435 Fix case insensitive option with unicode, RANGE_PROBABLY_CONTAINS_NOT_IMPLIED_CHARACTERS fixes
  tool-testsuite/test/org/antlr/v4/test/tool/TestSymbolIssues.java
  tool/src/org/antlr/v4/automata/CharactersDataCheckStatus.java
  tool/src/org/antlr/v4/automata/LexerATNFactory.java
  tool/src/org/antlr/v4/automata/RangeBorderCharactersData.java
Labels: lexers, type:bug

#3387 Update Swift template to silence warnings about unmodified class reference
  contributors.txt
  tool/resources/org/antlr/v4/tool/templates/codegen/Swift/Swift.stg
Labels: target:swift

#3304 [Swift] Use proper constants
  runtime/Swift/Sources/Antlr4/Lexer.swift
  runtime/Swift/Sources/Antlr4/RecognitionException.swift
  runtime/Swift/Sources/Antlr4/Recognizer.swift
  runtime/Swift/Sources/Antlr4/RuleContext.swift
  runtime/Swift/Sources/Antlr4/atn/ATNConfig.swift
  runtime/Swift/Sources/Antlr4/atn/ATNConfigSet.swift
  runtime/Swift/Sources/Antlr4/atn/LL1Analyzer.swift
  runtime/Swift/Sources/Antlr4/atn/ParserATNSimulator.swift
  runtime/Swift/Sources/Antlr4/dfa/DFAState.swift
Labels: target:swift

#3349 Some tool bugfixes
  runtime-testsuite/resources/org/antlr/v4/test/runtime/descriptors/LexerExec/EscapedCharacters.txt
  runtime-testsuite/resources/org/antlr/v4/test/runtime/descriptors/ParserExec/EOFInClosure.txt
  runtime-testsuite/resources/org/antlr/v4/test/runtime/descriptors/SemPredEvalParser/PredFromAltTestedInLoopBack_1.txt
  runtime-testsuite/test/org/antlr/v4/test/runtime/java/BaseJavaTest.java
  tool-testsuite/test/org/antlr/v4/misc/UtilsTest.java
  tool-testsuite/test/org/antlr/v4/test/tool/TestCodeGeneration.java
  tool-testsuite/test/org/antlr/v4/test/tool/TestToolSyntaxErrors.java
  tool-testsuite/test/org/antlr/v4/test/tool/TestUnicodeEscapes.java
  tool/src/org/antlr/v4/Tool.java
  tool/src/org/antlr/v4/analysis/LeftRecursiveRuleAnalyzer.java
  tool/src/org/antlr/v4/analysis/LeftRecursiveRuleTransformer.java
  tool/src/org/antlr/v4/automata/LexerATNFactory.java
  tool/src/org/antlr/v4/automata/ParserATNFactory.java
  tool/src/org/antlr/v4/codegen/CodeGenPipeline.java
  tool/src/org/antlr/v4/codegen/CodeGenerator.java
  tool/src/org/antlr/v4/codegen/Target.java
  tool/src/org/antlr/v4/codegen/UnicodeEscapes.java
  tool/src/org/antlr/v4/codegen/model/Recognizer.java
  tool/src/org/antlr/v4/codegen/model/SemPred.java
  tool/src/org/antlr/v4/codegen/target/CSharpTarget.java
  tool/src/org/antlr/v4/codegen/target/CppTarget.java
  tool/src/org/antlr/v4/codegen/target/DartTarget.java
  tool/src/org/antlr/v4/codegen/target/GoTarget.java
  tool/src/org/antlr/v4/codegen/target/JavaScriptTarget.java
  tool/src/org/antlr/v4/codegen/target/JavaTarget.java
  tool/src/org/antlr/v4/codegen/target/PHPTarget.java
  tool/src/org/antlr/v4/codegen/target/Python2Target.java
  tool/src/org/antlr/v4/codegen/target/Python3Target.java
  tool/src/org/antlr/v4/codegen/target/SwiftTarget.java
  tool/src/org/antlr/v4/misc/CharSupport.java
  tool/src/org/antlr/v4/misc/EscapeSequenceParsing.java
  tool/src/org/antlr/v4/parse/ANTLRLexer.g
  tool/src/org/antlr/v4/parse/ANTLRParser.g
  tool/src/org/antlr/v4/parse/v3TreeGrammarException.java
  tool/src/org/antlr/v4/tool/BuildDependencyGenerator.java
  tool/src/org/antlr/v4/tool/ErrorType.java
  tool/src/org/antlr/v4/tool/Grammar.java
Labels: error-handling, comp:tool, type:improvement, type:cleanup

#3439 Update actions.md
  doc/actions.md
Labels: comp:doc

#3313 Use atomic instead of a shared mutex for DFA.s0
  runtime/Go/antlr/dfa.go
Labels: target:go

#3358 Update Swift runtime doc
  contributors.txt
  doc/swift-target.md
Labels: comp:doc, target:swift

#3379 [Python3] rename pygrun, add entry_point
  contributors.txt
  runtime/Python3/bin/pygrun.bat
  runtime/Python3/setup.py
  runtime/Python3/src/antlr4/_pygrun.py
Labels: comp:build, target:python3

#3437 caseInsensitive lexer rule option
  doc/lexer-rules.md
  doc/options.md
  tool-testsuite/test/org/antlr/v4/test/tool/TestATNLexerInterpreter.java
  tool-testsuite/test/org/antlr/v4/test/tool/TestSymbolIssues.java
  tool/src/org/antlr/v4/automata/LexerATNFactory.java
  tool/src/org/antlr/v4/parse/ANTLRLexer.g
  tool/src/org/antlr/v4/parse/ANTLRParser.g
  tool/src/org/antlr/v4/parse/GrammarTreeVisitor.g
  tool/src/org/antlr/v4/semantics/BasicSemanticChecks.java
  tool/src/org/antlr/v4/semantics/RuleCollector.java
  tool/src/org/antlr/v4/semantics/SemanticPipeline.java
  tool/src/org/antlr/v4/semantics/SymbolCollector.java
  tool/src/org/antlr/v4/tool/ErrorType.java
  tool/src/org/antlr/v4/tool/Grammar.java
  tool/src/org/antlr/v4/tool/GrammarTransformPipeline.java
  tool/src/org/antlr/v4/tool/Rule.java
Labels: lexers, options

#3414 Add browser fs fallback
  contributors.txt
  runtime/JavaScript/package.json
Labels: target:javascript

#3207 Corrected/clarified the Linux C++ runtime compilation instructions
  runtime/Cpp/README.md
Labels: comp:build, comp:doc, target:cpp

#3097 Fix #3096 - antlr4-maven-plugin is using maven-project version 2.2.1 …
  antlr4-maven-plugin/pom.xml
Labels: comp:build, comp:maven-plugin

#3351 Use `AnyObject` instead of `class`.
  runtime/Swift/Sources/Antlr4/ANTLRErrorListener.swift
  runtime/Swift/Sources/Antlr4/IntStream.swift
  runtime/Swift/Sources/Antlr4/Token.swift
  runtime/Swift/Sources/Antlr4/TokenSource.swift
  runtime/Swift/Sources/Antlr4/tree/ParseTreeListener.swift
  runtime/Swift/Sources/Antlr4/tree/Tree.swift
Labels: target:swift

#3286 Remove `late` modifier for Dart generated context classes
  contributors.txt
  tool/resources/org/antlr/v4/tool/templates/codegen/Dart/Dart.stg
Labels: target:dart

#3132 Add Support For Swift Package Manager
  Package.swift
  contributors.txt
  doc/swift-target.md
  runtime-testsuite/test/org/antlr/v4/test/runtime/swift/BaseSwiftTest.java
  runtime/Swift/boot.py
Labels: comp:build, target:swift

#3450 use src 11 for tool, but 8 for plugin/runtime
  .appveyor/workflow.yml
  .circleci/config.yml
  .github/workflows/macosx.yml
  antlr4-maven-plugin/pom.xml
  pom.xml
  runtime-testsuite/pom.xml
  runtime/Java/pom.xml
Labels: comp:build, target:java
