Repository antlr/antlr4, pull requests merged in 2021-04, with the labels that each got.

#3144 [C++] Performance improvement in finally
  runtime/Cpp/runtime/src/antlr4-common.h
  runtime/Cpp/runtime/src/support/CPPUtils.cpp
  runtime/Cpp/runtime/src/support/CPPUtils.h
Labels: target:cpp

#3146 Fix typo in ExternalAntlr4Cpp.cmake
  contributors.txt
  runtime/Cpp/cmake/ExternalAntlr4Cpp.cmake
Labels: target:cpp

#3073 Cpp/runtime: use utfcpp from system if possible
  contributors.txt
  runtime/Cpp/runtime/CMakeLists.txt
Labels: comp:build, target:cpp

#3040 Cpp target: No building tests/samples for external utfcpp
  contributors.txt
  runtime/Cpp/runtime/CMakeLists.txt
Labels: comp:build, target:cpp

#3149 Revert "Cpp target: No building tests/samples for external utfcpp"
  contributors.txt
  runtime/Cpp/runtime/CMakeLists.txt
Labels: target:cpp, type:bug

#2849 Added templated move support for antlrcpp::Any
  contributors.txt
  runtime/Cpp/runtime/src/support/Any.h
Labels: target:cpp

#3164 Patch utfcpp build
  contributors.txt
  runtime/Cpp/runtime/CMakeLists.txt
Labels: comp:build, target:cpp
