Repository antlr/antlr4, pull requests merged in 2022-11, with the labels that each got.

#3947 Remove unnecessary getter
  tool/src/org/antlr/v4/codegen/model/decl/ContextGetterDecl.java
Labels: target:go, type:cleanup

#3958 Fix 3845 nullptr cpp
  runtime-testsuite/resources/org/antlr/v4/test/runtime/descriptors/ParserExec/ListLabelsOnRuleRefStartOfAlt.txt
  runtime-testsuite/resources/org/antlr/v4/test/runtime/descriptors/Performance/DropLoopEntryBranchInLRRule_4.txt
  runtime/Cpp/runtime/src/atn/ArrayPredictionContext.cpp
Labels: atn-analysis, type:bug, target:cpp

#3954 Fix two Swift profiling bugs
  runtime/Swift/Sources/Antlr4/atn/ProfilingATNSimulator.swift
Labels: atn-analysis, target:swift

#3953 Don’t specify a default type for the exported Swift package library
  Package.swift
Labels: comp:build, target:swift

#3942 Fix typos in listeners.md
  doc/listeners.md
Labels: comp:doc

#3945 Updating the files in the Xcode project for ANTLR4 Cpp runtime.
  runtime/Cpp/runtime/antlrcpp.xcodeproj/project.pbxproj
Labels: target:cpp

#3931 Fix typo of platfort to platform and weird double space to a single space character
  docker/README.md
Labels: comp:build

#3909 setting takari-lifecycle-plugin version explicitly to 2.0.7
  antlr4-maven-plugin/pom.xml
Labels: actions

#3885 [C++] Fix the compiler errors reported by GCC 7
  runtime/Cpp/runtime/src/FlatHashMap.h
  runtime/Cpp/runtime/src/FlatHashSet.h
Labels: target:cpp

#3856 doc: quote ** in test invocation example
  doc/antlr-project-testing.md
Labels: comp:build, comp:doc

#3972 Fix issue 3965
  runtime/JavaScript/src/antlr4/context/PredictionContextUtils.js
Labels: atn-analysis, target:javascript

#3973 no message
  README.md
Labels: comp:doc

#3974 Add ATN tracing support for PHP target
  runtime-testsuite/resources/org/antlr/v4/test/runtime/helpers/Test.php.stg
Labels: target:php

#3975 Fix PHP test template and improve docs about debugging
  doc/creating-a-language-target.md
  runtime-testsuite/resources/org/antlr/v4/test/runtime/helpers/Test.php.stg
Labels: atn-analysis, comp:doc, target:php

#3978 Fix cpp equals bug #3959
  README.md
  runtime-testsuite/resources/org/antlr/v4/test/runtime/descriptors/Performance/DropLoopEntryBranchInLRRule_4.txt
  runtime/Cpp/runtime/src/atn/ArrayPredictionContext.cpp
Labels: atn-analysis, type:bug, target:cpp

#3979 Gcc version fix
  .github/workflows/hosted.yml
Labels: comp:build, target:cpp, comp:testing

#3980 php composer install
  .github/workflows/hosted.yml
Labels: comp:build, comp:testing, target:php

#3989 Issue #3988: Builds failing on Ubuntu
  .github/workflows/hosted.yml
Labels: comp:build, comp:testing
