Repository antlr/antlr4, pull requests merged in 2022-10, with the labels that each got.

#3889 Fixing reserve word NULL for cpp targets
  runtime-testsuite/resources/org/antlr/v4/test/runtime/descriptors/LexerExec/ReservedWordsEscaping_NULL.txt
  runtime/Cpp/README.md
  tool/src/org/antlr/v4/codegen/Target.java
  tool/src/org/antlr/v4/codegen/model/Recognizer.java
  tool/src/org/antlr/v4/codegen/target/CppTarget.java
Labels: grammars, target:cpp, type:cleanup

#3936 Tweak folding to wrap && operations in parentheses
  tool/resources/org/antlr/v4/tool/templates/codegen/CSharp/CSharp.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Cpp/Cpp.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Dart/Dart.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Go/Go.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Java/Java.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/PHP/PHP.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Python2/Python2.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Python3/Python3.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Swift/Swift.stg
Labels: comp:runtime, type:cleanup

#3927 [Go target] Fix for #3926: Add accessors for tree navigation to interfaces in generated parser
  doc/go-target.md
  tool/resources/org/antlr/v4/tool/templates/codegen/CSharp/CSharp.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Cpp/Cpp.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Dart/Dart.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Go/Go.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Java/Java.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/JavaScript/JavaScript.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/PHP/PHP.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Python2/Python2.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Python3/Python3.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Swift/Swift.stg
  tool/src/org/antlr/v4/codegen/model/decl/ContextGetterDecl.java
  tool/src/org/antlr/v4/codegen/model/decl/ContextRuleGetterDecl.java
  tool/src/org/antlr/v4/codegen/model/decl/ContextRuleListGetterDecl.java
  tool/src/org/antlr/v4/codegen/model/decl/ContextRuleListIndexedGetterDecl.java
  tool/src/org/antlr/v4/codegen/model/decl/ContextTokenGetterDecl.java
  tool/src/org/antlr/v4/codegen/model/decl/ContextTokenListGetterDecl.java
  tool/src/org/antlr/v4/codegen/model/decl/ContextTokenListIndexedGetterDecl.java
  tool/src/org/antlr/v4/codegen/model/decl/StructDecl.java
Labels: trees-contexts, code-gen, type:improvement, target:go
