Repository antlr/antlr4, pull requests merged in 2022-01, with the labels that each got.

#3447 cpp/cmake: Fix library install directories
  contributors.txt
  runtime/Cpp/runtime/CMakeLists.txt
Labels: target:cpp

#3232 Python local import fixes
  contributors.txt
  runtime/Python3/src/antlr4/_pygrun.py
Labels: comp:build, target:python3

#3454 Update javadoc to 8 and 11
  doc/java-target.md
  runtime-testsuite/test/org/antlr/v4/test/runtime/java/BaseJavaTest.java
  runtime/Java/pom.xml
  tool/pom.xml
Labels: comp:build, target:java, comp:doc

#3455 [Go] Fix (*BitSet).equals
  runtime/Go/antlr/utils.go
  runtime/Go/antlr/utils_test.go
Labels: target:go

#3459 Remove unused variable from generated code
  tool/resources/org/antlr/v4/tool/templates/codegen/Dart/Dart.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Java/Java.stg
Labels: target:java

#3420 [C++] Fix bugs in UnbufferedCharStream
  runtime/Cpp/runtime/src/UnbufferedCharStream.cpp
  runtime/Cpp/runtime/src/UnbufferedCharStream.h
Labels: target:cpp

#3451 Escape bad words during grammar generation
  runtime-testsuite/resources/org/antlr/v4/test/runtime/descriptors/LexerExec/ReservedWordsEscaping.txt
  runtime-testsuite/resources/org/antlr/v4/test/runtime/descriptors/ParserExec/ReservedWordsEscaping.txt
  tool/resources/org/antlr/v4/tool/templates/codegen/CSharp/CSharp.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Cpp/Cpp.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Dart/Dart.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Go/Go.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Java/Java.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/JavaScript/JavaScript.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/PHP/PHP.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Python2/Python2.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Python3/Python3.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Swift/Swift.stg
  tool/src/org/antlr/v4/codegen/ActionTranslator.java
  tool/src/org/antlr/v4/codegen/CodeGenPipeline.java
  tool/src/org/antlr/v4/codegen/DefaultOutputModelFactory.java
  tool/src/org/antlr/v4/codegen/ParserFactory.java
  tool/src/org/antlr/v4/codegen/Target.java
  tool/src/org/antlr/v4/codegen/model/AddToLabelList.java
  tool/src/org/antlr/v4/codegen/model/InvokeRule.java
  tool/src/org/antlr/v4/codegen/model/Lexer.java
  tool/src/org/antlr/v4/codegen/model/MatchToken.java
  tool/src/org/antlr/v4/codegen/model/RuleActionFunction.java
  tool/src/org/antlr/v4/codegen/model/RuleFunction.java
  tool/src/org/antlr/v4/codegen/model/chunk/ArgRef.java
  tool/src/org/antlr/v4/codegen/model/chunk/LabelRef.java
  tool/src/org/antlr/v4/codegen/model/chunk/ListLabelRef.java
  tool/src/org/antlr/v4/codegen/model/chunk/LocalRef.java
  tool/src/org/antlr/v4/codegen/model/chunk/NonLocalAttrRef.java
  tool/src/org/antlr/v4/codegen/model/chunk/QRetValueRef.java
  tool/src/org/antlr/v4/codegen/model/chunk/RetValueRef.java
  tool/src/org/antlr/v4/codegen/model/chunk/SetAttr.java
  tool/src/org/antlr/v4/codegen/model/chunk/SetNonLocalAttr.java
  tool/src/org/antlr/v4/codegen/model/chunk/SymbolRefChunk.java
  tool/src/org/antlr/v4/codegen/model/chunk/TokenRef.java
  tool/src/org/antlr/v4/codegen/model/decl/AltLabelStructDecl.java
  tool/src/org/antlr/v4/codegen/model/decl/ContextGetterDecl.java
  tool/src/org/antlr/v4/codegen/model/decl/Decl.java
  tool/src/org/antlr/v4/codegen/model/decl/StructDecl.java
  tool/src/org/antlr/v4/codegen/target/CSharpTarget.java
  tool/src/org/antlr/v4/codegen/target/CppTarget.java
  tool/src/org/antlr/v4/codegen/target/DartTarget.java
  tool/src/org/antlr/v4/codegen/target/GoTarget.java
  tool/src/org/antlr/v4/codegen/target/JavaScriptTarget.java
  tool/src/org/antlr/v4/codegen/target/JavaTarget.java
  tool/src/org/antlr/v4/codegen/target/PHPTarget.java
  tool/src/org/antlr/v4/codegen/target/Python2Target.java
  tool/src/org/antlr/v4/codegen/target/Python3Target.java
  tool/src/org/antlr/v4/codegen/target/SwiftTarget.java
  tool/src/org/antlr/v4/tool/ErrorType.java
  tool/src/org/antlr/v4/tool/Rule.java
Labels: code-gen, type:improvement

#3483 Preserve line separators for input runtime tests data
  .gitattributes
  runtime-testsuite/resources/org/antlr/v4/test/runtime/descriptors/LexerExec/EscapedCharacters.txt
  runtime-testsuite/resources/org/antlr/v4/test/runtime/descriptors/LexerExec/LineSeparator_CRLF.txt
  runtime-testsuite/resources/org/antlr/v4/test/runtime/descriptors/LexerExec/LineSeparator_LF.txt
  runtime-testsuite/resources/org/antlr/v4/test/runtime/descriptors/ParserExec/ReservedWordsEscaping.txt
  runtime-testsuite/test/org/antlr/v4/test/runtime/BaseRuntimeTest.java
Labels: comp:testing

#3501 [JavaScript] Migrate from jest to jasmine
  .circleci/scripts/install-linux-javascript.sh
  .circleci/scripts/run-tests-javascript.sh
  runtime/JavaScript/package-lock.json
  runtime/JavaScript/package.json
  runtime/JavaScript/spec/IntervalSetSpec.js
  runtime/JavaScript/spec/helpers/Reporter.js
  runtime/JavaScript/spec/support/jasmine.json
  runtime/JavaScript/src/test/TestIntervalSet.test.js
Labels: target:javascript

#3491 [C++] Fix Windows min/max macro collision
  runtime/Cpp/runtime/src/antlr4-common.h
  runtime/Cpp/runtime/src/misc/MurmurHash.cpp
  runtime/Cpp/runtime/src/support/Guid.cpp
  runtime/Cpp/runtime/src/support/Guid.h
Labels: target:cpp

#3499 [C++] Update cmake README.md to C++17
  runtime/Cpp/cmake/README.md
Labels: comp:build, target:cpp

#3519 Follow maven guidelines for maven-plugin
  antlr4-maven-plugin/pom.xml
Labels: comp:build, type:cleanup

#3520 Fix .interp file parsing test for the Java runtime.
  runtime-testsuite/test/org/antlr/v4/test/runtime/BaseRuntimeTestSupport.java
  runtime-testsuite/test/org/antlr/v4/test/runtime/java/TestInterpreterDataReader.java
  runtime/Java/src/org/antlr/v4/runtime/VocabularyImpl.java
  tool/src/org/antlr/v4/Tool.java
Labels: target:java
