Repository antlr/antlr4, pull requests merged in 2022-06, with the labels that each got.

#3706 FindANTLR: Fix version RegEx
  runtime/Cpp/cmake/FindANTLR.cmake
Labels: type:bug, comp:build, target:cpp

#3748 update getting-started doc
  doc/getting-started.md
Labels: type:improvement, comp:doc

#3721 Issue 3720: Java 2 Security issue
  runtime/Java/src/org/antlr/v4/runtime/atn/ParserATNSimulator.java
Labels: type:improvement, target:java

#3675 Fix OSGi imports
  runtime/Java/pom.xml
Labels: comp:build, target:java

#3689 Fix Docker README for arm OS user
  docker/README.md
Labels: type:improvement, comp:doc

#3707 Cpp: Disable warnings for external project
  runtime/Cpp/CMakeLists.txt
  runtime/Cpp/cmake/ExternalAntlr4Cpp.cmake
Labels: type:bug, type:improvement, target:cpp
