Repository antlr/antlr4, pull requests merged in 2022-08, with the labels that each got.

#3802 Fix #3508: Document the $parser attribute and its use in target-agnostic grammars.
  doc/actions.md
  doc/python-target.md
Labels: target:python2, target:python3, comp:doc

#3669 Update Swift Package to support static library
  Package.swift
Labels: comp:build, target:swift

#3800 Add Go accessor for IntervalSet.intervals
  runtime/Go/antlr/interval_set.go
Labels: target:go

#3787 [C++] Remove libuuid dependency
  runtime/Cpp/CMakeLists.txt
  runtime/Cpp/runtime/CMakeLists.txt
Labels: comp:build, target:cpp, type:cleanup

#3807 Add `@SuppressWarnings("CheckReturnValue")` to prevent error_prone lib errors.
  tool/resources/org/antlr/v4/tool/templates/codegen/Java/Java.stg
Labels: target:java

#3813 [py2] Fix SyntaxError due to F string
  runtime/Python2/setup.py
Labels: type:bug, target:python2

#3819 Rm remote actions
  .github/scripts-macosx/install-dotnet-on-osx.sh
  .github/scripts-macosx/mac-action-runner-readme.txt
  .github/scripts-macosx/run-tests-cpp.sh
  .github/scripts-macosx/run-tests-dotnet.sh
  .github/scripts-macosx/run-tests-swift.sh
  .github/scripts-windows/run-tests-cpp.cmd
  .github/scripts-windows/run-tests-csharp.cmd
  .github/scripts-windows/run-tests-dart.cmd
  .github/scripts-windows/run-tests-go.cmd
  .github/scripts-windows/run-tests-java.cmd
  .github/scripts-windows/run-tests-javascript.cmd
  .github/scripts-windows/run-tests-php.cmd
  .github/scripts-windows/run-tests-python2.cmd
  .github/scripts-windows/run-tests-python3.cmd
  .github/workflows/macosx.yml
  .github/workflows/windows.yml
Labels: comp:testing, type:cleanup

#3820 Caching support
  .github/workflows/hosted.yml
Labels: comp:build, comp:testing, type:cleanup

#3824 Issue #3823: Temporarily disable a few tests on CI
  .github/workflows/hosted.yml
Labels: comp:build, comp:testing, type:cleanup

#3829 Feature/newhash
  runtime/Go/antlr/atn_config.go
  runtime/Go/antlr/atn_config_set.go
  runtime/Go/antlr/atn_state.go
  runtime/Go/antlr/comparators.go
  runtime/Go/antlr/dfa.go
  runtime/Go/antlr/dfa_state.go
  runtime/Go/antlr/jcollect.go
  runtime/Go/antlr/lexer_action.go
  runtime/Go/antlr/lexer_action_executor.go
  runtime/Go/antlr/lexer_atn_simulator.go
  runtime/Go/antlr/ll1_analyzer.go
  runtime/Go/antlr/parser_atn_simulator.go
  runtime/Go/antlr/prediction_context.go
  runtime/Go/antlr/prediction_mode.go
  runtime/Go/antlr/semantic_context.go
  runtime/Go/antlr/utils.go
  runtime/Go/antlr/utils_set.go
Labels: target:go, comp:performance

#3830 feat: Reduce initial memory allocations for collections
  runtime/Go/antlr/jcollect.go
Labels: parsers, target:go

#3831 fix: #3758 Allow for string being a keyword and fix go template to us…
  runtime/Go/antlr/go.mod
  runtime/Go/antlr/go.sum
  tool/resources/org/antlr/v4/tool/templates/codegen/Go/Go.stg
  tool/src/org/antlr/v4/codegen/target/GoTarget.java
Labels: target:go, type:cleanup

#3832 fix: #2826 Go template is incorrect for dynamic scopes
  tool/resources/org/antlr/v4/tool/templates/codegen/Go/Go.stg
Labels: type:bug, target:go

#3834 fix: #2016 - Generate correct iGo code for lists in a grammar, such a…
  tool/resources/org/antlr/v4/tool/templates/codegen/Go/Go.stg
Labels: grammars, target:go

#3836 feat: Bump poms to use 4.11 Snapshot
  antlr4-maven-plugin/pom.xml
  pom.xml
  runtime-testsuite/pom.xml
  runtime/Java/pom.xml
  tool-testsuite/pom.xml
  tool/pom.xml
Labels: comp:build

#3835 doc: Start improving docs for #1374
  runtime/Go/antlr/antlrdoc.go
  runtime/Go/antlr/atn.go
  runtime/Go/antlr/atn_config.go
  runtime/Go/antlr/atn_config_set.go
  runtime/Go/antlr/atn_deserialization_options.go
  runtime/Go/antlr/atn_deserializer.go
  runtime/Go/antlr/atn_simulator.go
  runtime/Go/antlr/atn_state.go
  runtime/Go/antlr/atn_type.go
  runtime/Go/antlr/char_stream.go
  runtime/Go/antlr/common_token_factory.go
  runtime/Go/antlr/common_token_stream.go
  runtime/Go/antlr/common_token_stream_test.go
  runtime/Go/antlr/comparators.go
  runtime/Go/antlr/dfa.go
  runtime/Go/antlr/dfa_serializer.go
  runtime/Go/antlr/dfa_state.go
  runtime/Go/antlr/diagnostic_error_listener.go
  runtime/Go/antlr/error_listener.go
  runtime/Go/antlr/error_strategy.go
  runtime/Go/antlr/errors.go
  runtime/Go/antlr/file_stream.go
  runtime/Go/antlr/input_stream.go
  runtime/Go/antlr/int_stream.go
  runtime/Go/antlr/interval_set.go
  runtime/Go/antlr/jcollect.go
  runtime/Go/antlr/lexer.go
  runtime/Go/antlr/lexer_action.go
  runtime/Go/antlr/lexer_action_executor.go
  runtime/Go/antlr/lexer_atn_simulator.go
  runtime/Go/antlr/ll1_analyzer.go
  runtime/Go/antlr/parser.go
  runtime/Go/antlr/parser_atn_simulator.go
  runtime/Go/antlr/parser_rule_context.go
  runtime/Go/antlr/prediction_context.go
  runtime/Go/antlr/prediction_mode.go
  runtime/Go/antlr/recognizer.go
  runtime/Go/antlr/rule_context.go
  runtime/Go/antlr/semantic_context.go
  runtime/Go/antlr/testing_assert_test.go
  runtime/Go/antlr/testing_lexer_b_test.go
  runtime/Go/antlr/token.go
  runtime/Go/antlr/token_source.go
  runtime/Go/antlr/token_stream.go
  runtime/Go/antlr/tokenstream_rewriter.go
  runtime/Go/antlr/tokenstream_rewriter_test.go
  runtime/Go/antlr/trace_listener.go
  runtime/Go/antlr/transition.go
  runtime/Go/antlr/tree.go
  runtime/Go/antlr/trees.go
  runtime/Go/antlr/utils.go
Labels: comp:doc, target:go, type:cleanup

#3838 Replace smart-quote with single-quote in code examples
  doc/grammars.md
  doc/lexer-rules.md
  doc/lexicon.md
  doc/parser-rules.md
  doc/wildcard.md
Labels: comp:doc, type:cleanup

#3843 Augment error message during testing to include full cause of problem.
  runtime-testsuite/test/org/antlr/v4/test/runtime/states/State.java
Labels: type:improvement, comp:testing

#3844 Augment error message during testing to include full cause of problem (round 2)
  runtime-testsuite/test/org/antlr/v4/test/runtime/states/State.java
Labels: comp:testing

#3794 Cpp: Link to threads library
  runtime/Cpp/cmake/antlr4-runtime.cmake.in
  runtime/Cpp/runtime/CMakeLists.txt
Labels: comp:build, target:cpp

#3841 Fix 2016 round 2
  runtime-testsuite/resources/org/antlr/v4/test/runtime/descriptors/ParserExec/ListLabelForClosureContext.txt
  runtime-testsuite/resources/org/antlr/v4/test/runtime/descriptors/ParserExec/ListLabelsOnRuleRefStartOfAlt.txt
  runtime-testsuite/resources/org/antlr/v4/test/runtime/templates/CSharp.test.stg
  runtime-testsuite/resources/org/antlr/v4/test/runtime/templates/Go.test.stg
  runtime-testsuite/resources/org/antlr/v4/test/runtime/templates/JavaScript.test.stg
  runtime-testsuite/resources/org/antlr/v4/test/runtime/templates/Python2.test.stg
  runtime-testsuite/resources/org/antlr/v4/test/runtime/templates/Python3.test.stg
  runtime-testsuite/test/org/antlr/v4/test/runtime/Processor.java
  runtime-testsuite/test/org/antlr/v4/test/runtime/cpp/CppRunner.java
  runtime/Dart/lib/src/prediction_context.dart
  tool/resources/org/antlr/v4/tool/templates/codegen/Cpp/Cpp.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Java/Java.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/JavaScript/JavaScript.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Python2/Python2.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Python3/Python3.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Swift/Swift.stg
Labels: type:bug, target:java, target:javascript, target:python2, target:python3, target:swift, target:cpp, target:go

#3850 Optimize go tests runner and renable CircleCI go tests
  .circleci/config.yml
  runtime-testsuite/test/org/antlr/v4/test/runtime/go/GoRunner.java
Labels: comp:build, target:go, comp:testing
