Repository antlr/antlr4, pull requests merged in 2022-02, with the labels that each got.

#3522 [C++] Optimize LL1Analyzer
  runtime/Cpp/runtime/src/atn/ATNConfig.h
  runtime/Cpp/runtime/src/atn/LL1Analyzer.cpp
  runtime/Cpp/runtime/src/atn/LL1Analyzer.h
Labels: target:cpp

#3523 [C++] Fix missing virtual destructors
  runtime/Cpp/runtime/src/atn/LexerActionExecutor.h
  runtime/Cpp/runtime/src/atn/PredictionContext.cpp
  runtime/Cpp/runtime/src/atn/PredictionContext.h
Labels: target:cpp, type:cleanup

#3531 [C++] Remove now unused antlrcpp::Guid
  runtime/Cpp/runtime/src/antlr4-common.h
  runtime/Cpp/runtime/src/antlr4-runtime.h
  runtime/Cpp/runtime/src/support/Guid.cpp
  runtime/Cpp/runtime/src/support/Guid.h
Labels: target:cpp

#3544 [C++] Improve multithreaded performance, fix TSAN error, and fix profiling ATN simulator setup
  runtime/Cpp/runtime/src/Parser.cpp
  runtime/Cpp/runtime/src/atn/LexerATNSimulator.cpp
  runtime/Cpp/runtime/src/atn/ParserATNSimulator.cpp
Labels: target:cpp

#3545 [C++] Cleanup ATNDeserializer and remove related deprecated methods from ATNSimulator
  runtime/Cpp/runtime/src/atn/ATNDeserializer.cpp
  runtime/Cpp/runtime/src/atn/ATNDeserializer.h
  runtime/Cpp/runtime/src/atn/ATNSimulator.cpp
  runtime/Cpp/runtime/src/atn/ATNSimulator.h
Labels: target:cpp, type:cleanup

#3561 Convert Python2/3 to use int arrays not strings for ATN encodings
  runtime/Python2/src/antlr4/atn/ATNDeserializer.py
  runtime/Python3/src/antlr4/atn/ATNDeserializer.py
  tool/resources/org/antlr/v4/tool/templates/codegen/Python2/Python2.stg
  tool/resources/org/antlr/v4/tool/templates/codegen/Python3/Python3.stg
  tool/src/org/antlr/v4/codegen/Target.java
  tool/src/org/antlr/v4/codegen/target/CSharpTarget.java
  tool/src/org/antlr/v4/codegen/target/DartTarget.java
  tool/src/org/antlr/v4/codegen/target/GoTarget.java
  tool/src/org/antlr/v4/codegen/target/JavaScriptTarget.java
  tool/src/org/antlr/v4/codegen/target/JavaTarget.java
  tool/src/org/antlr/v4/codegen/target/Python2Target.java
  tool/src/org/antlr/v4/codegen/target/SwiftTarget.java
Labels: atn-analysis, target:python2, target:python3

#3550 [C++] Drastically improve multi-threaded performance
  runtime-testsuite/resources/org/antlr/v4/test/runtime/templates/Cpp.test.stg
  runtime/Cpp/runtime/src/Parser.cpp
  runtime/Cpp/runtime/src/Parser.h
  runtime/Cpp/runtime/src/Recognizer.h
  runtime/Cpp/runtime/src/atn/ATN.cpp
  runtime/Cpp/runtime/src/atn/ATN.h
  runtime/Cpp/runtime/src/atn/ATNDeserializer.cpp
  runtime/Cpp/runtime/src/atn/ATNDeserializer.h
  runtime/Cpp/runtime/src/atn/ATNSimulator.cpp
  runtime/Cpp/runtime/src/atn/ATNSimulator.h
  runtime/Cpp/runtime/src/atn/LexerATNSimulator.cpp
  runtime/Cpp/runtime/src/atn/ParserATNSimulator.cpp
  runtime/Cpp/runtime/src/dfa/DFA.cpp
  runtime/Cpp/runtime/src/dfa/DFA.h
  runtime/Cpp/runtime/src/misc/InterpreterDataReader.h
  runtime/Cpp/runtime/src/tree/xpath/XPathLexer.cpp
  runtime/Cpp/runtime/src/tree/xpath/XPathLexer.h
  tool/resources/org/antlr/v4/tool/templates/codegen/Cpp/Cpp.stg
Labels: target:cpp, comp:performance
