Repository antlr/antlr4, pull requests merged in 2022-07, with the labels that each got.

#3741 new nuget directory for building ANTLR4 C++ runtime as 3 Nuget packages
  .gitignore
  runtime/Cpp/runtime/nuget/ANTLR4.Runtime.cpp.noarch.nuspec
  runtime/Cpp/runtime/nuget/ANTLR4.Runtime.cpp.noarch.targets
  runtime/Cpp/runtime/nuget/ANTLR4.Runtime.cpp.shared.nuspec
  runtime/Cpp/runtime/nuget/ANTLR4.Runtime.cpp.shared.props
  runtime/Cpp/runtime/nuget/ANTLR4.Runtime.cpp.shared.targets
  runtime/Cpp/runtime/nuget/ANTLR4.Runtime.cpp.static.nuspec
  runtime/Cpp/runtime/nuget/ANTLR4.Runtime.cpp.static.targets
  runtime/Cpp/runtime/nuget/antlr4.jpg
  runtime/Cpp/runtime/nuget/pack.cmd
Labels: type:improvement, comp:build, target:csharp

#3678 Windows specific fixes
  runtime/Cpp/CMakeLists.txt
  runtime/Cpp/runtime/CMakeLists.txt
Labels: comp:build, cross-platform-issue, target:cpp

#3776 Don't make class SementicContext::Empty final.
  runtime/Cpp/runtime/src/atn/SemanticContext.h
Labels: cross-platform-issue, target:cpp

#3792 Issue #3783: CI Check Builds
  .github/workflows/hosted.yml
Labels: type:improvement, comp:build, cross-platform-issue, comp:testing

#3797 Include swift & tool verification in CI workflow
  .github/workflows/hosted.yml
Labels: type:improvement, comp:build, cross-platform-issue, target:swift
