Repository antlr/antlr4, pull requests merged in 2022-05, with the labels that each got.

#3697 Improve ExternalProject cmake file
  runtime/Cpp/cmake/ExternalAntlr4Cpp.cmake
Labels: actions, comp:build, target:cpp

#3722 Ensure that only the tokens needed are fetched
  runtime/Go/antlr/common_token_stream.go
  runtime/Go/antlr/common_token_stream_test.go
  runtime/Java/src/org/antlr/v4/runtime/BufferedTokenStream.java
Labels: target:java, target:go, comp:performance

#3727 Add interp tool like TestRig
  tool/src/org/antlr/v4/gui/Interpreter.java
Labels: comp:tool, type:feature
