Repository antlr/antlr4, pull requests merged in 2022-04, with the labels that each got.

#3615 [C++] Cleanup DFA, DFAState, LexerAction, and yet more performance improvements
  runtime/Cpp/runtime/src/atn/ATN.h
  runtime/Cpp/runtime/src/atn/ATNDeserializer.cpp
  runtime/Cpp/runtime/src/atn/LexerATNConfig.cpp
  runtime/Cpp/runtime/src/atn/LexerATNConfig.h
  runtime/Cpp/runtime/src/atn/LexerATNSimulator.cpp
  runtime/Cpp/runtime/src/atn/LexerATNSimulator.h
  runtime/Cpp/runtime/src/atn/LexerAction.cpp
  runtime/Cpp/runtime/src/atn/LexerAction.h
  runtime/Cpp/runtime/src/atn/LexerActionExecutor.cpp
  runtime/Cpp/runtime/src/atn/LexerActionExecutor.h
  runtime/Cpp/runtime/src/atn/LexerActionType.h
  runtime/Cpp/runtime/src/atn/LexerChannelAction.cpp
  runtime/Cpp/runtime/src/atn/LexerChannelAction.h
  runtime/Cpp/runtime/src/atn/LexerCustomAction.cpp
  runtime/Cpp/runtime/src/atn/LexerCustomAction.h
  runtime/Cpp/runtime/src/atn/LexerIndexedCustomAction.cpp
  runtime/Cpp/runtime/src/atn/LexerIndexedCustomAction.h
  runtime/Cpp/runtime/src/atn/LexerModeAction.cpp
  runtime/Cpp/runtime/src/atn/LexerModeAction.h
  runtime/Cpp/runtime/src/atn/LexerMoreAction.cpp
  runtime/Cpp/runtime/src/atn/LexerMoreAction.h
  runtime/Cpp/runtime/src/atn/LexerPopModeAction.cpp
  runtime/Cpp/runtime/src/atn/LexerPopModeAction.h
  runtime/Cpp/runtime/src/atn/LexerPushModeAction.cpp
  runtime/Cpp/runtime/src/atn/LexerPushModeAction.h
  runtime/Cpp/runtime/src/atn/LexerSkipAction.cpp
  runtime/Cpp/runtime/src/atn/LexerSkipAction.h
  runtime/Cpp/runtime/src/atn/LexerTypeAction.cpp
  runtime/Cpp/runtime/src/atn/LexerTypeAction.h
  runtime/Cpp/runtime/src/atn/ParserATNSimulator.cpp
  runtime/Cpp/runtime/src/atn/ParserATNSimulator.h
  runtime/Cpp/runtime/src/dfa/DFA.h
  runtime/Cpp/runtime/src/dfa/DFASerializer.cpp
  runtime/Cpp/runtime/src/dfa/DFAState.cpp
  runtime/Cpp/runtime/src/dfa/DFAState.h
  runtime/Cpp/runtime/src/support/Casts.h
Labels: target:cpp, comp:performance, type:cleanup

#3602 [Swift] use stdlib (single pass)
  runtime/Swift/Sources/Antlr4/BufferedTokenStream.swift
  runtime/Swift/Sources/Antlr4/DiagnosticErrorListener.swift
  runtime/Swift/Sources/Antlr4/atn/ATN.swift
  runtime/Swift/Sources/Antlr4/atn/SemanticContext.swift
  runtime/Swift/Sources/Antlr4/misc/BitSet.swift
  runtime/Swift/Sources/Antlr4/misc/IntervalSet.swift
  runtime/Swift/Sources/Antlr4/misc/Utils.swift
  runtime/Swift/Sources/Antlr4/misc/utils/CommonUtil.swift
  runtime/Swift/Sources/Antlr4/tree/Trees.swift
Labels: target:swift

#3605 [Swift] more improved optional handling
  runtime/Swift/Sources/Antlr4/BufferedTokenStream.swift
  runtime/Swift/Sources/Antlr4/FailedPredicateException.swift
  runtime/Swift/Sources/Antlr4/LexerInterpreter.swift
  runtime/Swift/Sources/Antlr4/Parser.swift
  runtime/Swift/Sources/Antlr4/atn/LexerATNSimulator.swift
  runtime/Swift/Sources/Antlr4/atn/LexerActionExecutor.swift
  runtime/Swift/Sources/Antlr4/atn/PredictionContext.swift
  runtime/Swift/Sources/Antlr4/atn/SingletonPredictionContext.swift
  runtime/Swift/Sources/Antlr4/misc/DoubleKeyMap.swift
  runtime/Swift/Sources/Antlr4/misc/MurmurHash.swift
  runtime/Swift/Sources/Antlr4/tree/Trees.swift
  runtime/Swift/Sources/Antlr4/tree/pattern/ParseTreeMatch.swift
  runtime/Swift/Sources/Antlr4/tree/pattern/ParseTreePatternMatcher.swift
  runtime/Swift/Sources/Antlr4/tree/pattern/TokenTagToken.swift
Labels: target:swift, type:cleanup

#3616 [C++] Minor improvements to PredictionContext
  runtime/Cpp/runtime/src/atn/PredictionContext.cpp
Labels: target:cpp, type:cleanup

#3620 No longer necessary too generate sets or single atom transit that are bigger than 16bits.
  runtime/Java/src/org/antlr/v4/runtime/atn/CodePointTransitions.java
  tool-testsuite/test/org/antlr/v4/test/tool/TestATNSerialization.java
Labels: atn-analysis, type:cleanup

#3628 Updated getting started with Cpp documentation.
  runtime/Cpp/cmake/README.md
Labels: type:improvement, comp:doc

#3630 [C++] Free ATNConfig lookup set in readonly ATNConfigSet
  runtime/Cpp/runtime/src/atn/ATNConfigSet.cpp
  runtime/Cpp/runtime/src/atn/ATNConfigSet.h
Labels: target:cpp, type:cleanup

#3627 [C++] Implement configurable PredictionContextMergeCache
  runtime/Cpp/runtime/src/LexerInterpreter.h
  runtime/Cpp/runtime/src/ParserInterpreter.h
  runtime/Cpp/runtime/src/antlr4-runtime.h
  runtime/Cpp/runtime/src/atn/ATNSimulator.h
  runtime/Cpp/runtime/src/atn/ParserATNSimulator.cpp
  runtime/Cpp/runtime/src/atn/ParserATNSimulator.h
  runtime/Cpp/runtime/src/atn/ParserATNSimulatorOptions.h
  runtime/Cpp/runtime/src/atn/PredictionContext.cpp
  runtime/Cpp/runtime/src/atn/PredictionContext.h
  runtime/Cpp/runtime/src/atn/PredictionContextCache.cpp
  runtime/Cpp/runtime/src/atn/PredictionContextCache.h
  runtime/Cpp/runtime/src/atn/PredictionContextMergeCache.cpp
  runtime/Cpp/runtime/src/atn/PredictionContextMergeCache.h
  runtime/Cpp/runtime/src/atn/PredictionContextMergeCacheOptions.h
  tool/resources/org/antlr/v4/tool/templates/codegen/Cpp/Cpp.stg
Labels: atn-analysis, target:cpp, type:cleanup

#3624 Allow to switch off building C++ tests, needed if used as sub-project
  runtime/Cpp/runtime/CMakeLists.txt
Labels: comp:build, target:cpp

#3632 Fix NPE for undefined label, fix antlr#2788
  tool-testsuite/test/org/antlr/v4/test/tool/TestSymbolIssues.java
  tool/src/org/antlr/v4/automata/ParserATNFactory.java
Labels: grammars, comp:tool, type:bug

#3623 [Swift] An interval ought to be a value
  runtime/Swift/Sources/Antlr4/misc/Interval.swift
  runtime/Swift/Sources/Antlr4/misc/IntervalSet.swift
Labels: target:swift, type:cleanup

#3635 [C++] Remove more dynamic_cast usage
  runtime/Cpp/runtime/src/DefaultErrorStrategy.cpp
  runtime/Cpp/runtime/src/Parser.cpp
  runtime/Cpp/runtime/src/ParserInterpreter.cpp
  runtime/Cpp/runtime/src/ParserRuleContext.cpp
  runtime/Cpp/runtime/src/atn/ParserATNSimulator.cpp
  runtime/Cpp/runtime/src/dfa/DFA.cpp
Labels: target:cpp

#3634 [C++] Introduce version macros
  runtime/Cpp/runtime/src/RuntimeMetaData.cpp
  runtime/Cpp/runtime/src/Version.h
  runtime/Cpp/runtime/src/antlr4-common.h
  runtime/Cpp/runtime/src/antlr4-runtime.h
Labels: target:cpp, type:cleanup

#3599 Prep 4.10
  .circleci/scripts/install-linux-php.sh
  .github/scripts-windows/run-tests-csharp.cmd
  .github/scripts-windows/run-tests-dart.cmd
  .github/scripts-windows/run-tests-go.cmd
  .github/scripts-windows/run-tests-java.cmd
  .github/scripts-windows/run-tests-javascript.cmd
  .github/scripts-windows/run-tests-php.cmd
  .github/scripts-windows/run-tests-python2.cmd
  .github/scripts-windows/run-tests-python3.cmd
  CONTRIBUTING.md
  doc/dart-target.md
  doc/getting-started.md
  doc/go-target.md
  doc/java-target.md
  doc/releasing-antlr.md
  doc/swift-target.md
  runtime/CSharp/src/Antlr4.csproj
  runtime/CSharp/src/Properties/AssemblyInfo.cs
  runtime/CSharp/src/README.md
  runtime/CSharp/src/Tree/Xpath/XPathLexer.cs
  runtime/Cpp/VERSION
  runtime/Cpp/cmake/Antlr4Package.md
  runtime/Cpp/cmake/ExternalAntlr4Cpp.cmake
  runtime/Cpp/cmake/FindANTLR.cmake
  runtime/Cpp/cmake/README.md
  runtime/Cpp/demo/generate.cmd
  runtime/Dart/CHANGELOG.md
  runtime/Dart/lib/src/runtime_meta_data.dart
  runtime/Dart/pubspec.yaml
  runtime/Go/antlr/recognizer.go
  runtime/Java/src/org/antlr/v4/runtime/RuntimeMetaData.java
  runtime/JavaScript/package-lock.json
  runtime/JavaScript/package.json
  runtime/JavaScript/src/antlr4/Recognizer.js
  runtime/Python2/setup.py
  runtime/Python2/src/antlr4/Recognizer.py
  runtime/Python2/src/antlr4/xpath/XPath.py
  runtime/Python2/src/antlr4/xpath/XPathLexer.g4
  runtime/Python2/src/antlr4/xpath/XPathLexer.py
  runtime/Python3/setup.py
  runtime/Python3/src/antlr4/Recognizer.py
  runtime/Python3/src/antlr4/tree/ParseTreePattern.py
  runtime/Python3/src/antlr4/xpath/XPath.py
  runtime/Python3/src/antlr4/xpath/XPathLexer.g4
  runtime/Python3/src/antlr4/xpath/XPathLexer.py
  runtime/Python3/tests/expr/ExprLexer.py
  runtime/Python3/tests/expr/ExprParser.py
  runtime/Python3/tests/run.py
  runtime/Swift/Sources/Antlr4/RuntimeMetaData.swift
  scripts/deploy.py
  scripts/files-to-update.txt
  scripts/update_antlr_version.py
  tool/pom.xml
  tool/resources/org/antlr/v4/tool/templates/codegen/Swift/Swift.stg
Labels: comp:build

#3621 [Swift] reduce Optionals in APIs
  runtime/Swift/Sources/Antlr4/BufferedTokenStream.swift
  runtime/Swift/Sources/Antlr4/Parser.swift
  runtime/Swift/Sources/Antlr4/ParserRuleContext.swift
  runtime/Swift/Sources/Antlr4/TokenStream.swift
  runtime/Swift/Sources/Antlr4/UnbufferedTokenStream.swift
  runtime/Swift/Sources/Antlr4/atn/ATN.swift
  runtime/Swift/Sources/Antlr4/atn/AtomTransition.swift
  runtime/Swift/Sources/Antlr4/atn/ParserATNSimulator.swift
  runtime/Swift/Sources/Antlr4/atn/ProfilingATNSimulator.swift
  runtime/Swift/Sources/Antlr4/atn/RangeTransition.swift
  runtime/Swift/Sources/Antlr4/atn/SetTransition.swift
  tool/resources/org/antlr/v4/tool/templates/codegen/Swift/Swift.stg
Labels: target:swift, type:cleanup

#3648 Fix build to set the release to Java 8
  runtime/Java/pom.xml
Labels: actions, comp:build

#3655 Update publishing instruction for Dart
  doc/dart-target.md
  doc/releasing-antlr.md
Labels: code-gen, target:dart

#3660 Prep 4.10.1
  doc/getting-started.md
  doc/releasing-antlr.md
  doc/swift-target.md
  docker/Dockerfile
  runtime/CSharp/src/Antlr4.csproj
  runtime/CSharp/src/Properties/AssemblyInfo.cs
  runtime/CSharp/src/README.md
  runtime/Cpp/VERSION
  runtime/Cpp/cmake/Antlr4Package.md
  runtime/Cpp/cmake/ExternalAntlr4Cpp.cmake
  runtime/Cpp/cmake/FindANTLR.cmake
  runtime/Cpp/cmake/README.md
  runtime/Cpp/demo/generate.cmd
  runtime/Cpp/runtime/src/Version.h
  runtime/Dart/lib/src/runtime_meta_data.dart
  runtime/Dart/pubspec.yaml
  runtime/Go/antlr/recognizer.go
  runtime/Java/pom.xml
  runtime/Java/src/org/antlr/v4/runtime/RuntimeMetaData.java
  runtime/JavaScript/package-lock.json
  runtime/JavaScript/package.json
  runtime/JavaScript/src/antlr4/Recognizer.js
  runtime/Python2/setup.py
  runtime/Python2/src/antlr4/Recognizer.py
  runtime/Python3/setup.py
  runtime/Python3/src/antlr4/Recognizer.py
  runtime/Swift/Sources/Antlr4/RuntimeMetaData.swift
  scripts/files-to-update.txt
  scripts/update_antlr_version.py
Labels: comp:build, type:cleanup

#3662 Restore support for py3.5 by removing f-string in setup.py
  runtime/Python3/setup.py
Labels: target:python2
