Repository antlr/antlr4, pull requests merged in 2022-03, with the labels that each got.

#3563 [C++] Remove duplicate includes and remove unused includes
  runtime/Cpp/runtime/src/antlr4-common.h
Labels: target:cpp, type:cleanup

#3562 [C++] Lazily deserialize ATN in generated code
  runtime-testsuite/resources/org/antlr/v4/test/runtime/templates/Cpp.test.stg
  runtime/Cpp/runtime/src/tree/xpath/XPathLexer.cpp
  runtime/Cpp/runtime/src/tree/xpath/XPathLexer.h
  tool/resources/org/antlr/v4/tool/templates/codegen/Cpp/Cpp.stg
Labels: target:cpp, type:cleanup

#3458 [Docs] Update Swift Docs
  doc/swift-target.md
Labels: comp:doc, target:swift

#3566 Ascii only ATN serialization
  tool/src/org/antlr/v4/codegen/Target.java
  tool/src/org/antlr/v4/codegen/target/CSharpTarget.java
  tool/src/org/antlr/v4/codegen/target/DartTarget.java
  tool/src/org/antlr/v4/codegen/target/PHPTarget.java
  tool/src/org/antlr/v4/codegen/target/SwiftTarget.java
Labels: code-gen, atn-analysis, unicode

#3567 use ints not chars for C#
  runtime/CSharp/src/Atn/ATNDeserializer.cs
  runtime/CSharp/src/Misc/RuleDependencyChecker.cs
  runtime/CSharp/src/Parser.cs
  runtime/CSharp/src/Recognizer.cs
  runtime/CSharp/src/Tree/Pattern/ParseTreePatternMatcher.cs
  runtime/CSharp/src/Tree/Xpath/XPathLexer.cs
  runtime/CSharp/src/Tree/Xpath/XPathLexer.g4
  runtime/Java/src/org/antlr/v4/runtime/Parser.java
  tool/resources/org/antlr/v4/tool/templates/codegen/CSharp/CSharp.stg
  tool/src/org/antlr/v4/codegen/target/CSharpTarget.java
Labels: code-gen, atn-analysis, target:csharp

#3565 [C++] Switch to camel case for generated static data variable names
  runtime/Cpp/runtime/src/tree/xpath/XPathLexer.cpp
  tool/resources/org/antlr/v4/tool/templates/codegen/Cpp/Cpp.stg
Labels: target:cpp, type:cleanup

#3568 JavaScript: Change string to int array for serialized ATN
  runtime/JavaScript/src/antlr4/atn/ATNDeserializer.js
  tool/resources/org/antlr/v4/tool/templates/codegen/JavaScript/JavaScript.stg
  tool/src/org/antlr/v4/codegen/target/JavaScriptTarget.java
Labels: code-gen, atn-analysis, target:javascript, type:cleanup

#3569 perf: Add default implementation for Visit in ParseTreeVisitor.
  contributors.txt
  runtime/Go/antlr/tree.go
Labels: trees-contexts, target:go

#3573 Don't decode utf16 in ATN deserialization for Go; it's just a bunch of uint16
  runtime/Go/antlr/atn_deserializer.go
Labels: atn-analysis, target:go

#3574 [Go] Cleanup and fix ATN deserialization verification
  runtime/Go/antlr/atn_deserialization_options.go
  runtime/Go/antlr/atn_deserializer.go
Labels: target:go, type:cleanup

#3572 [C++] Force generated static data type name to titlecase
  tool/resources/org/antlr/v4/tool/templates/codegen/Cpp/Cpp.stg
Labels: target:cpp, type:cleanup

#3575 Use int array not string for ATN in Swift
  runtime/Swift/Sources/Antlr4/Parser.swift
  runtime/Swift/Sources/Antlr4/Recognizer.swift
  runtime/Swift/Sources/Antlr4/atn/ATNDeserializer.swift
  runtime/Swift/Sources/Antlr4/misc/InterpreterDataReader.swift
  tool/resources/org/antlr/v4/tool/templates/codegen/Swift/Swift.stg
  tool/src/org/antlr/v4/codegen/target/SwiftTarget.java
Labels: atn-analysis, actions, type:cleanup

#3578 Dart int atn
  runtime-testsuite/test/org/antlr/v4/test/runtime/dart/BaseDartTest.java
  runtime/Dart/lib/src/parser.dart
  runtime/Dart/lib/src/recognizer.dart
  tool/resources/org/antlr/v4/tool/templates/codegen/Dart/Dart.stg
  tool/src/org/antlr/v4/codegen/target/DartTarget.java
Labels: atn-analysis, target:dart, type:cleanup

#3579 Fix PHP codegen to support int ATN serialization
  tool/resources/org/antlr/v4/tool/templates/codegen/PHP/PHP.stg
  tool/src/org/antlr/v4/codegen/target/PHPTarget.java
Labels: atn-analysis, target:php, type:cleanup

#3570 [C++] Remove unused LexerATNSimulator::match_calls
  runtime/CSharp/src/Atn/LexerATNSimulator.cs
  runtime/Cpp/runtime/src/atn/LexerATNSimulator.cpp
  runtime/Cpp/runtime/src/atn/LexerATNSimulator.h
  runtime/JavaScript/src/antlr4/atn/LexerATNSimulator.js
  runtime/Python2/src/antlr4/atn/LexerATNSimulator.py
  runtime/Swift/Sources/Antlr4/atn/LexerATNSimulator.swift
Labels: target:cpp, type:cleanup

#3583 [Java] Preserve serialized ATN version 3 compatibility
  runtime/Java/src/org/antlr/v4/runtime/atn/ATNDeserializer.java
Labels: atn-analysis, target:java

#3588 [C++] Add ANTLR4CPP_PUBLIC attributes to various symbols
  runtime/Cpp/runtime/src/atn/LexerATNSimulator.cpp
  runtime/Cpp/runtime/src/atn/LexerATNSimulator.h
  runtime/Cpp/runtime/src/dfa/DFAState.h
  runtime/Cpp/runtime/src/support/CPPUtils.h
  runtime/Cpp/runtime/src/support/StringUtils.h
  runtime/Cpp/runtime/src/support/Unicode.h
  runtime/Cpp/runtime/src/support/Utf8.h
Labels: target:cpp, type:cleanup

#3586 Update editorconfig for c++
  .editorconfig
  contributors.txt
Labels: target:cpp

#3582 Fix code style and typing to support PHP 8
  tool/resources/org/antlr/v4/tool/templates/codegen/PHP/PHP.stg
Labels: target:php, type:cleanup

#3571 [Go] Port locking algorithm from C++ to Go
  runtime-testsuite/resources/org/antlr/v4/test/runtime/templates/Go.test.stg
  runtime/Go/antlr/atn.go
  runtime/Go/antlr/atn_state.go
  runtime/Go/antlr/dfa.go
  runtime/Go/antlr/dfa_state.go
  runtime/Go/antlr/lexer_atn_simulator.go
  runtime/Go/antlr/parser_atn_simulator.go
  tool/resources/org/antlr/v4/tool/templates/codegen/Go/Go.stg
Labels: target:go, threading

#3595 [C++] Fix bugs in SemanticContext
  runtime/Cpp/runtime/src/atn/SemanticContext.cpp
  runtime/Cpp/runtime/src/atn/SemanticContext.h
Labels: target:cpp, comp:performance

#3597 [Go] Do not export Array2DHashSet which is an implementation detail
  runtime/Go/antlr/atn_config_set.go
  runtime/Go/antlr/dfa_state.go
  runtime/Go/antlr/ll1_analyzer.go
  runtime/Go/antlr/parser_atn_simulator.go
  runtime/Go/antlr/semantic_context.go
  runtime/Go/antlr/utils_set.go
Labels: target:go, type:cleanup

#3598 Use linux DCO not our old contributors certificate of origin
  .github/PULL_REQUEST_TEMPLATE.md
  developer-cert-of-origin.txt
  doc/releasing-antlr.md
  historical-contributors-agreement.txt
Labels: comp:doc, type:cleanup

#3302 [Swift] improvements to equality functions
  runtime/Swift/Sources/Antlr4/atn/ATNConfig.swift
  runtime/Swift/Sources/Antlr4/atn/LexerATNConfig.swift
  runtime/Swift/Sources/Antlr4/atn/SingletonPredictionContext.swift
  runtime/Swift/Sources/Antlr4/tree/pattern/Chunk.swift
Labels: target:swift, type:cleanup

#3303 [Swift] Use for in loops
  runtime/Swift/Sources/Antlr4/CommonTokenStream.swift
  runtime/Swift/Sources/Antlr4/Parser.swift
  runtime/Swift/Sources/Antlr4/atn/ATNConfigSet.swift
  runtime/Swift/Sources/Antlr4/atn/ArrayPredictionContext.swift
  runtime/Swift/Sources/Antlr4/atn/ParseInfo.swift
  runtime/Swift/Sources/Antlr4/atn/ParserATNSimulator.swift
  runtime/Swift/Sources/Antlr4/atn/PredictionContext.swift
Labels: target:swift, type:cleanup

#3603 [Go] Fix symbol collision in generated lexers and parsers
  tool/resources/org/antlr/v4/tool/templates/codegen/Go/Go.stg
Labels: type:bug, target:go

#3608 [C++] Refactor PredictionContext and yet more performance improvements
  runtime/Cpp/runtime/src/atn/ATNConfigSet.h
  runtime/Cpp/runtime/src/atn/ATNSimulator.cpp
  runtime/Cpp/runtime/src/atn/ATNSimulator.h
  runtime/Cpp/runtime/src/atn/ArrayPredictionContext.cpp
  runtime/Cpp/runtime/src/atn/ArrayPredictionContext.h
  runtime/Cpp/runtime/src/atn/PredictionContext.cpp
  runtime/Cpp/runtime/src/atn/PredictionContext.h
  runtime/Cpp/runtime/src/atn/PredictionMode.cpp
  runtime/Cpp/runtime/src/atn/PredictionMode.h
  runtime/Cpp/runtime/src/atn/SemanticContext.h
  runtime/Cpp/runtime/src/atn/SingletonPredictionContext.cpp
  runtime/Cpp/runtime/src/atn/SingletonPredictionContext.h
  runtime/Cpp/runtime/src/misc/IntervalSet.cpp
Labels: target:cpp, comp:performance
