Repository antlr/antlr4, pull requests merged in 2023-09, with the labels that each got.

#4399 [CSharp] Fix for #4386 -- change signatures for ReportAttemptingFullContext() and ReportContextSensitivity() to be identical to all other targets
  runtime/CSharp/src/Atn/ParserATNSimulator.cs
  runtime/CSharp/src/BaseErrorListener.cs
  runtime/CSharp/src/DiagnosticErrorListener.cs
  runtime/CSharp/src/IParserErrorListener.cs
  runtime/CSharp/src/ProxyParserErrorListener.cs
Labels: target:csharp, type:cleanup

#4340 [Dart] Fix for #4320--export additional types
  runtime/Dart/lib/antlr4.dart
  runtime/Dart/lib/src/atn/src/atn_config_set.dart
  runtime/Dart/lib/src/atn/src/atn_deserializer.dart
  runtime/Dart/lib/src/atn/src/parser_atn_simulator.dart
  runtime/Dart/lib/src/error/src/error_strategy.dart
  runtime/Dart/lib/src/lexer.dart
  runtime/Dart/lib/src/misc/misc.dart
  runtime/Dart/lib/src/misc/src/multi_map.dart
  runtime/Dart/lib/src/misc/src/pair.dart
  runtime/Dart/lib/src/parser_interpreter.dart
  runtime/Dart/lib/src/prediction_context.dart
  runtime/Dart/lib/src/token.dart
  runtime/Dart/lib/src/token_factory.dart
  runtime/Dart/lib/src/token_source.dart
  runtime/Dart/lib/src/tree/src/pattern/parse_tree_match.dart
Labels: type:bug, target:dart

#4277 upgrade maven-bundle-plugin: fixes last Reproducible Builds issue
  runtime/Java/pom.xml
Labels: type:bug, comp:build, type:cleanup

#4397 Move GetText(), SetText(), and String() from CommonToken to BaseToken
  runtime/Go/antlr/v4/token.go
Labels: target:go, type:cleanup

#4339 Cleanup duplicate SwiftTarget code
  tool/src/org/antlr/v4/codegen/target/SwiftTarget.java
Labels: target:swift, type:cleanup

#4272 fix dependabot warnings
  runtime/JavaScript/package-lock.json
  runtime/JavaScript/package.json
Labels: target:javascript, type:cleanup

#4373 Add "override" before EOF in TS
  tool/resources/org/antlr/v4/tool/templates/codegen/TypeScript/TypeScript.stg
Labels: type:cleanup, target:typescript

#4411 [Javascript] Fix broken package entrypoints
  runtime/JavaScript/package.json
Labels: target:javascript, type:cleanup
