Repository antlr/antlr4, pull requests merged in 2023-08, with the labels that each got.

#4363 [SWIFT] Add Antlr4Dynamic product
  Package.swift
Labels: target:swift

#4394 Java: suppress `this-escape` warning introduced in JDK 21.
  tool/resources/org/antlr/v4/tool/templates/codegen/Java/Java.stg
Labels: actions, target:java

#4396 Restore "Obtained from string" source name.
  runtime/Go/antlr/v4/input_stream.go
Labels: target:go, type:cleanup
