Repository antlr/antlr4, pull requests merged in 2023-03, with the labels that each got.

#4140 Limit use of Posix threads to Unix
  runtime/Cpp/runtime/CMakeLists.txt
Labels: target:cpp, threading

#4154 fix: Some code that should have been destined for /v4 was instead put…
  runtime/Go/antlr/v4/lexer.go
  runtime/Go/antlr/v4/testing_api_test.go
  runtime/Go/antlr/v4/token.go
  runtime/Go/antlr/v4/tree.go
Labels: target:go, type:cleanup

#4155 Remove redundant source code from go runtime
  doc/go-target.md
  runtime/Go/antlr/LICENSE
  runtime/Go/antlr/README.adoc
  runtime/Go/antlr/antlrdoc.go
  runtime/Go/antlr/atn.go
  runtime/Go/antlr/atn_config.go
  runtime/Go/antlr/atn_config_set.go
  runtime/Go/antlr/atn_deserialization_options.go
  runtime/Go/antlr/atn_deserializer.go
  runtime/Go/antlr/atn_simulator.go
  runtime/Go/antlr/atn_state.go
  runtime/Go/antlr/atn_type.go
  runtime/Go/antlr/atnconfigset_test.go
  runtime/Go/antlr/char_stream.go
  runtime/Go/antlr/common_token_factory.go
  runtime/Go/antlr/common_token_stream.go
  runtime/Go/antlr/common_token_stream_test.go
  runtime/Go/antlr/comparators.go
  runtime/Go/antlr/dfa.go
  runtime/Go/antlr/dfa_serializer.go
  runtime/Go/antlr/dfa_state.go
  runtime/Go/antlr/diagnostic_error_listener.go
  runtime/Go/antlr/error_listener.go
  runtime/Go/antlr/error_strategy.go
  runtime/Go/antlr/errors.go
  runtime/Go/antlr/file_stream.go
  runtime/Go/antlr/go.mod
  runtime/Go/antlr/input_stream.go
  runtime/Go/antlr/int_stream.go
  runtime/Go/antlr/interval_set.go
  runtime/Go/antlr/jcollect.go
  runtime/Go/antlr/jcollect_test.go
  runtime/Go/antlr/lexer.go
  runtime/Go/antlr/lexer_action.go
  runtime/Go/antlr/lexer_action_executor.go
  runtime/Go/antlr/lexer_atn_simulator.go
  runtime/Go/antlr/ll1_analyzer.go
  runtime/Go/antlr/parser.go
  runtime/Go/antlr/parser_atn_simulator.go
  runtime/Go/antlr/parser_rule_context.go
  runtime/Go/antlr/prediction_context.go
  runtime/Go/antlr/prediction_mode.go
  runtime/Go/antlr/recognizer.go
  runtime/Go/antlr/rule_context.go
  runtime/Go/antlr/semantic_context.go
  runtime/Go/antlr/testing_assert_test.go
  runtime/Go/antlr/testing_lexer_b_test.go
  runtime/Go/antlr/testing_util_test.go
  runtime/Go/antlr/token.go
  runtime/Go/antlr/token_source.go
  runtime/Go/antlr/token_stream.go
  runtime/Go/antlr/tokenstream_rewriter.go
  runtime/Go/antlr/tokenstream_rewriter_test.go
  runtime/Go/antlr/trace_listener.go
  runtime/Go/antlr/transition.go
  runtime/Go/antlr/tree.go
  runtime/Go/antlr/trees.go
  runtime/Go/antlr/utils.go
  runtime/Go/antlr/utils_set.go
  runtime/Go/antlr/utils_test.go
Labels: target:go, type:cleanup

#4129 README: Update required Java version
  README.md
Labels: comp:doc

#4121 cmake: Fix output dir for Visual Studio generator
  runtime/Cpp/cmake/ExternalAntlr4Cpp.cmake
Labels: comp:build, target:cpp

#3995 Cpp: Remove code duplication
  .github/workflows/hosted.yml
  runtime/Cpp/runtime/antlr4cpp-vs2019.vcxproj
  runtime/Cpp/runtime/antlr4cpp-vs2022.vcxproj
  runtime/Cpp/runtime/src/atn/ArrayPredictionContext.cpp
  runtime/Cpp/runtime/src/atn/HashUtils.h
  runtime/Cpp/runtime/src/atn/LexerActionExecutor.cpp
  runtime/Cpp/runtime/src/atn/LexerIndexedCustomAction.cpp
  runtime/Cpp/runtime/src/atn/SingletonPredictionContext.cpp
Labels: target:cpp, type:cleanup

#4149 [TypeScript] Explicitly allow parameters to be children of type Parser
  runtime/JavaScript/src/antlr4/context/ParserRuleContext.d.ts
Labels: type:cleanup, target:typescript

#4156 present antlr before versioning
  README.md
Labels: comp:doc

#4161 Feature/fix 4150 - prevent invalid codegen in Go
  tool/src/org/antlr/v4/codegen/target/GoTarget.java
Labels: type:bug, target:go

#4184 [TypeScript] Fix incorrect typings
  runtime/JavaScript/src/antlr4/TokenStream.d.ts
Labels: target:typescript

#4197 Update LexerATNSimulator.cs with virtual Consume
  runtime/CSharp/src/Atn/LexerATNSimulator.cs
Labels: type:improvement, target:csharp

#4145 [Typescript] Add missing methods typing declaration
  runtime/JavaScript/src/antlr4/Lexer.d.ts
  runtime/JavaScript/src/antlr4/Parser.d.ts
  runtime/JavaScript/src/antlr4/error/DefaultErrorStrategy.d.ts
  runtime/JavaScript/src/antlr4/error/InputMismatchException.d.ts
  runtime/JavaScript/src/antlr4/error/NoViableAltException.d.ts
  runtime/JavaScript/src/antlr4/error/RecognitionException.d.ts
  runtime/JavaScript/src/antlr4/error/index.d.ts
Labels: target:typescript

#4200 do not modify String.prototype in js package
  THIRD-PARTY-NOTICES.txt
  runtime/JavaScript/src/antlr4/CharStream.js
  runtime/JavaScript/src/antlr4/index.node.js
  runtime/JavaScript/src/antlr4/index.web.js
  runtime/JavaScript/src/antlr4/misc/HashCode.js
  runtime/JavaScript/src/antlr4/polyfills/codepointat.js
  runtime/JavaScript/src/antlr4/polyfills/fromcodepoint.js
  runtime/JavaScript/src/antlr4/utils/standardHashCodeFunction.js
  runtime/JavaScript/src/antlr4/utils/stringHashCode.js
Labels: target:javascript

#4186 Issue #4185: Too many artifacts fail to upload
  .github/workflows/hosted.yml
Labels: comp:build, target:cpp, comp:testing

#4210 More performance improvements
  runtime/Go/antlr/v4/atn_config.go
  runtime/Go/antlr/v4/atn_config_set.go
  runtime/Go/antlr/v4/atn_simulator.go
  runtime/Go/antlr/v4/atn_state.go
  runtime/Go/antlr/v4/atnconfigset_test.go
  runtime/Go/antlr/v4/common_token_stream_test.go
  runtime/Go/antlr/v4/comparators.go
  runtime/Go/antlr/v4/dfa.go
  runtime/Go/antlr/v4/dfa_state.go
  runtime/Go/antlr/v4/diagnostic_error_listener.go
  runtime/Go/antlr/v4/error_listener.go
  runtime/Go/antlr/v4/errors.go
  runtime/Go/antlr/v4/jcollect.go
  runtime/Go/antlr/v4/lexer_action_executor.go
  runtime/Go/antlr/v4/lexer_atn_simulator.go
  runtime/Go/antlr/v4/ll1_analyzer.go
  runtime/Go/antlr/v4/parser_atn_simulator.go
  runtime/Go/antlr/v4/prediction_context.go
  runtime/Go/antlr/v4/prediction_context_cache.go
  runtime/Go/antlr/v4/prediction_mode.go
  runtime/Go/antlr/v4/testing_util_test.go
  runtime/Go/antlr/v4/utils.go
Labels: target:go, comp:performance
