Repository antlr/antlr4, pull requests merged in 2023-02, with the labels that each got.

#4097 Python LexerNoViableAltException is created with messages (#4095)
  runtime/Python2/src/antlr4/error/ErrorStrategy.py
  runtime/Python2/src/antlr4/error/Errors.py
  runtime/Python3/src/antlr4/error/Errors.py
Labels: target:python2, target:python3

#4101 Fully qualify std::move invocations to fix -Wunqualified-std-cast-call
  runtime/Cpp/runtime/src/misc/IntervalSet.cpp
Labels: type:improvement, target:cpp

#4106 fix documentation typos
  doc/typescript-target.md
Labels: comp:doc, target:typescript

#4107 fix missing union type
  tool/resources/org/antlr/v4/tool/templates/codegen/TypeScript/TypeScript.stg
Labels: target:typescript

#4112 Js support encoding in file stream + packaging issues
  runtime-testsuite/resources/org/antlr/v4/test/runtime/helpers/Test.js.stg
  runtime-testsuite/resources/org/antlr/v4/test/runtime/helpers/Test.ts.stg
  runtime-testsuite/test/org/antlr/v4/test/runtime/javascript/NodeRunner.java
  runtime/JavaScript/package.json
  runtime/JavaScript/src/antlr4/CharStreams.js
  runtime/JavaScript/src/antlr4/FileStream.d.ts
  runtime/JavaScript/src/antlr4/FileStream.js
  runtime/JavaScript/src/antlr4/Lexer.d.ts
  runtime/JavaScript/src/antlr4/atn/ParserATNSimulator.d.ts
  runtime/JavaScript/src/antlr4/index.d.ts
  runtime/JavaScript/src/antlr4/index.node.js
  runtime/JavaScript/src/antlr4/index.web.js
  runtime/JavaScript/webpack.config.cjs
  runtime/JavaScript/webpack.config.js
Labels: target:javascript

#4119 Fix for Issue 4110
  runtime/JavaScript/src/antlr4/CommonToken.d.ts
  runtime/JavaScript/src/antlr4/Lexer.d.ts
  runtime/JavaScript/src/antlr4/index.d.ts
Labels: target:typescript

#4105 Add missing space to actions.md
  doc/actions.md
Labels: comp:doc

#4086 cpp runtime: Remove pthread dependency.
  runtime/Cpp/runtime/CMakeLists.txt
  runtime/Cpp/runtime/src/internal/Synchronization.h
Labels: comp:build, target:cpp, type:cleanup, threading

#4043 Small tweaks to Swift.stg to allow throwing operations in actions
  tool/resources/org/antlr/v4/tool/templates/codegen/Swift/Swift.stg
Labels: actions, target:swift, type:cleanup

#3560 Provide Javascript port of TokenStreamRewriter
  .gitignore
  runtime/JavaScript/.c8rc.json
  runtime/JavaScript/.eslintrc.yml
  runtime/JavaScript/package-lock.json
  runtime/JavaScript/package.json
  runtime/JavaScript/spec/IntervalSetSpec.js
  runtime/JavaScript/spec/rewriter/Makefile
  runtime/JavaScript/spec/rewriter/TokenStreamRewriterSpec.js
  runtime/JavaScript/spec/rewriter/abc.g4
  runtime/JavaScript/spec/rewriter/calc.g4
  runtime/JavaScript/spec/rewriter/generatedCode/abc.js
  runtime/JavaScript/spec/rewriter/generatedCode/calc.js
  runtime/JavaScript/src/antlr4/BufferedTokenStream.js
  runtime/JavaScript/src/antlr4/TokenStreamRewriter.d.ts
  runtime/JavaScript/src/antlr4/TokenStreamRewriter.js
  runtime/JavaScript/src/antlr4/index.d.ts
  runtime/JavaScript/src/antlr4/index.node.js
  runtime/JavaScript/src/antlr4/index.web.js
Labels: type:feature, target:typescript

#4143 More typescript exports
  runtime/JavaScript/src/antlr4/Token.d.ts
Labels: target:typescript

#4147 [TypeScript] Fix types in template (missing null-union)
  tool/resources/org/antlr/v4/tool/templates/codegen/TypeScript/TypeScript.stg
Labels: target:typescript
