Repository antlr/antlr4, pull requests merged in 2024-05, with the labels that each got.

#4601 Fix Linux compilation issue of ProfilingATNSimulator
  runtime/Swift/Sources/Antlr4/atn/ProfilingATNSimulator.swift
Labels: target:swift

#4588 Update C++ documentation to state that C++17 is required
  doc/cpp-target.md
Labels: comp:doc, target:cpp

#4617 [Cpp] Fix cpp memory leaks
  runtime/Cpp/runtime/src/atn/ATNDeserializationOptions.cpp
  tool/resources/org/antlr/v4/tool/templates/codegen/Cpp/Cpp.stg
Labels: target:cpp, comp:performance
