Repository antlr/antlr4, pull requests merged in 2024-07, with the labels that each got.

#4654 chore: fix error link
  README.md
Labels: comp:doc, type:cleanup

#4661 [Cpp] Use target_include_dirs for cmake targets
  runtime/Cpp/runtime/CMakeLists.txt
Labels: target:cpp

#4593 [Python3] Replace deprecated `assertEquals()` to fix py3.12 compat
  runtime/Python3/tests/TestIntervalSet.py
Labels: target:python3

#4644 [JavaScript-runtime] Support TypeScript bundler module resolution for types
  runtime/JavaScript/package.json
Labels: target:typescript

#4312 name 'state' conflict with Python3 runtime.
  runtime-testsuite/resources/org/antlr/v4/test/runtime/descriptors/ParserExec/Keyword_1.txt
  runtime-testsuite/resources/org/antlr/v4/test/runtime/descriptors/ParserExec/Keyword_2.txt
  runtime-testsuite/resources/org/antlr/v4/test/runtime/descriptors/ParserExec/Keyword_3.txt
  runtime-testsuite/resources/org/antlr/v4/test/runtime/descriptors/ParserExec/Keyword_4.txt
  runtime-testsuite/resources/org/antlr/v4/test/runtime/descriptors/ParserExec/Keyword_5.txt
  runtime-testsuite/resources/org/antlr/v4/test/runtime/descriptors/ParserExec/Keyword_6.txt
  tool/resources/org/antlr/v4/tool/templates/codegen/PHP/PHP.stg
  tool/src/org/antlr/v4/codegen/target/CppTarget.java
  tool/src/org/antlr/v4/codegen/target/DartTarget.java
  tool/src/org/antlr/v4/codegen/target/GoTarget.java
  tool/src/org/antlr/v4/codegen/target/JavaScriptTarget.java
  tool/src/org/antlr/v4/codegen/target/JavaTarget.java
  tool/src/org/antlr/v4/codegen/target/PHPTarget.java
  tool/src/org/antlr/v4/codegen/target/Python3Target.java
  tool/src/org/antlr/v4/codegen/target/TypeScriptTarget.java
Labels: target:python3

#4540 fix(javascript): fix types not being recognized for NodeNext module resolution
  runtime/JavaScript/package.json
  runtime/JavaScript/src/antlr4/index.d.cts
Labels: target:javascript
