Repository antlr/antlr4, pull requests merged in 2024-11, with the labels that each got.

#4726 Improve Python version handling
  runtime/Python3/src/antlr4/Lexer.py
  runtime/Python3/src/antlr4/Parser.py
  tool/resources/org/antlr/v4/tool/templates/codegen/Python3/Python3.stg
Labels: target:python3

#4718 Adding Typescript definition files to export Trees module.
  runtime/JavaScript/src/antlr4/tree/Trees.d.ts
  runtime/JavaScript/src/antlr4/tree/index.d.ts
Labels: target:typescript

#4705 Py runtime: Move to relative imports
  runtime/Python3/src/antlr4/BufferedTokenStream.py
  runtime/Python3/src/antlr4/CommonTokenFactory.py
  runtime/Python3/src/antlr4/CommonTokenStream.py
  runtime/Python3/src/antlr4/FileStream.py
  runtime/Python3/src/antlr4/InputStream.py
  runtime/Python3/src/antlr4/IntervalSet.py
  runtime/Python3/src/antlr4/LL1Analyzer.py
  runtime/Python3/src/antlr4/Lexer.py
  runtime/Python3/src/antlr4/ListTokenSource.py
  runtime/Python3/src/antlr4/Parser.py
  runtime/Python3/src/antlr4/ParserInterpreter.py
  runtime/Python3/src/antlr4/ParserRuleContext.py
  runtime/Python3/src/antlr4/PredictionContext.py
  runtime/Python3/src/antlr4/Recognizer.py
  runtime/Python3/src/antlr4/RuleContext.py
  runtime/Python3/src/antlr4/StdinStream.py
  runtime/Python3/src/antlr4/TokenStreamRewriter.py
  runtime/Python3/src/antlr4/__init__.py
  runtime/Python3/src/antlr4/_pygrun.py
  runtime/Python3/src/antlr4/atn/ATN.py
  runtime/Python3/src/antlr4/atn/ATNConfig.py
  runtime/Python3/src/antlr4/atn/ATNConfigSet.py
  runtime/Python3/src/antlr4/atn/ATNDeserializer.py
  runtime/Python3/src/antlr4/atn/ATNSimulator.py
  runtime/Python3/src/antlr4/atn/ATNState.py
  runtime/Python3/src/antlr4/atn/LexerATNSimulator.py
  runtime/Python3/src/antlr4/atn/LexerActionExecutor.py
  runtime/Python3/src/antlr4/atn/ParserATNSimulator.py
  runtime/Python3/src/antlr4/atn/PredictionMode.py
  runtime/Python3/src/antlr4/atn/SemanticContext.py
  runtime/Python3/src/antlr4/atn/Transition.py
  runtime/Python3/src/antlr4/dfa/DFA.py
  runtime/Python3/src/antlr4/dfa/DFASerializer.py
  runtime/Python3/src/antlr4/dfa/DFAState.py
  runtime/Python3/src/antlr4/error/DiagnosticErrorListener.py
  runtime/Python3/src/antlr4/error/ErrorStrategy.py
  runtime/Python3/src/antlr4/error/Errors.py
  runtime/Python3/src/antlr4/tree/ParseTreeMatch.py
  runtime/Python3/src/antlr4/tree/ParseTreePattern.py
  runtime/Python3/src/antlr4/tree/ParseTreePatternMatcher.py
  runtime/Python3/src/antlr4/tree/RuleTagToken.py
  runtime/Python3/src/antlr4/tree/TokenTagToken.py
  runtime/Python3/src/antlr4/tree/Tree.py
  runtime/Python3/src/antlr4/tree/Trees.py
  runtime/Python3/src/antlr4/xpath/XPath.py
Labels: target:python3

#4731 fix(JS: ErrorListener types)
  runtime/JavaScript/src/antlr4/error/DiagnosticErrorListener.d.ts
  runtime/JavaScript/src/antlr4/error/ErrorListener.d.ts
  runtime/JavaScript/src/antlr4/misc/BitSet.d.ts
Labels: target:javascript
